<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Purchase Order</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<span th:if="${!isBoshila}"><li><a th:href="@{/purchasing}">Procurements</a></li></span>
										<li class="active"><a th:href="@{/procurement/supplieradjustment}">Supplier Adjustment</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Supplier Adjustment Entry</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/procurement/supplieradjustment}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i>New</a>
										<a th:if="${#strings.isEmpty(arhed.xvoucher)}" th:href="@{/procurement/supplieradjustment}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Adjust </a>
										<a th:if="${not #strings.isEmpty(arhed.xvoucher) and arhed.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update Adjustment</a>
										<a th:if="${not #strings.isEmpty(arhed.xvoucher) and arhed.zactive == true}" th:href="@{/procurement/supplieradjustment/archive/} + ${arhed.xvoucher}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(arhed.xvoucher) and arhed.zactive == false}" th:href="@{/procurement/supplieradjustment/restore/} + ${arhed.xvoucher}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
										<!-- Form Pagination -->
										<!-- <a th:href="@{/mastersetup/xcodes/paging/jump/top}" class="btn btn-sm btn-warning"><i class="fas fa-angle-double-up"></i> Top</a>
										<a th:href="@{/formpaging/step/prev/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info"><i class="fas fa-angle-double-left"></i> Previous</a>
										<a th:href="@{/formpaging/step/next/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info">Next <i class="fas fa-angle-double-right"></i></a>
										<a th:href="@{/mastersetup/xcodes/paging/jump/bottom}" class="btn btn-sm btn-warning">Bottom <i class="fas fa-angle-double-down"></i></a> -->
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/procurement/supplieradjustment/save}" th:object="${arhed}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyId)}" id="copyId" name= "copyId"/>  -->
											<input type="hidden" th:field="*{xvoucher}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(arhed.xvoucher)}" class="form-control" th:field="*{xvoucher}">
											<div class="row">
												<div class="col-md-6">
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xtypeobj">Object Type : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xtypeobj}">
																<option th:each="x : ${objtypeList}" th:value="${x.xcode}" th:text="${x.xcode}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group" th:if="${#strings.isEmpty(arhed.xvoucher)}">
														<label class="control-label col-md-4" for="xtrnarhed">Acc. Prefix : </label>
														<div class="col-md-6">
															<select class="form-control" th:field="*{xtrnarhed}">
																<option th:each="prefix : ${arhedprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group" th:if="${not #strings.isEmpty(arhed.xvoucher)}">
														<label class="control-label col-md-4" for="xvoucher">Entry Number : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xvoucher}" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${arhed.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(arhed.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xcus">Supplier No : </label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${arhed.xcus}" 
																	th:attr="search-url='search/supplier'"/>
															<input type="hidden" id="search-val" th:field="*{xcus}" value=""/>
															<input type="hidden" id="search-des" value=""/>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xbank">Bank : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xbank}">
														</div>
													</div>
											        <!-- <div class="form-group">
														<label class="control-label col-md-4" for="xwh">Warehouse : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
															</select>
														</div>
													</div> -->
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xprime">Prime Amount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xprime}" min="0">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xbalprime">Balance Amount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xbalprime}" min="0">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xpaymenttype">Payment Type : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xpaymenttype}">
																<option th:each="x : ${paymenttypeList}" th:value="${x.xcode}" th:text="${x.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xref">Reference : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xref}">
														</div>
													</div>
													
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdateref">Date Ref. : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdateref"
																	name="xdateref"
																	th:value="${arhed.xdateref == null ? #dates.format(#dates.createNow(), df) : #dates.format(arhed.xdateref, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
												</div>
												
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4" for="xvatamt">Vat Amount : </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xvatamt}" min="0">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xaitamt">AIT Amount : </label>
														<div class="col-md-6">
															<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xaitamt}" min="0">
														</div>
													</div>
												
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xstatuschq">Cheque Status : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xstatuschq}">
																<option th:each="chq : ${chequeStatusList}" th:value="${chq.xcode}" th:text="${chq.xcode}"></option>
															</select>
														</div>
													</div> -->
													<div class="form-group">
														<label class="control-label col-md-4" for="xdiscprime">Prime Discount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xdiscprime}" min="0">
														</div>
													</div>
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xstatusbnk">Bank Status : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xstatusbnk}">
																<option th:each="bnksts : ${bankstatusList}" th:value="${bnksts.xcode}" th:text="${bnksts.xcode}"></option>
															</select>
														</div>
													</div>	 -->
													<div class="form-group">
														<label class="control-label col-md-4" for="xstatusjv">JV Status : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xstatusjv}" disabled="disabled">
															<!-- <select class="form-control" th:field="*{xstatusjv}" disabled="disabled">
																<option th:each="jv : ${jvstatusList}" th:value="${jv.xcode}" th:text="${jv.xcode}"></option>
															</select> -->
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
														</div>
													</div>	
													<div class="form-group">
														<label class="control-label col-md-4" for="xdocnum">Delivery Chalan : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xdocnum}">
														</div>
													</div>
														
													<div class="form-group">
														<label class="control-label col-md-4" for="xbase">Base Amount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xbase}" min="0">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xcusledbal">Ledger Amt. : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xcusledbal}" min="0">
														</div>
													</div>									
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
		
									
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Inv Items</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Voucher Number</th>
													<th>Date</th>
													<th>Mode</th>
													<th>Prime Amount</th>
													<th>Balance Amount</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="arhed : ${allArhed}">
													<td>
														<a th:href="@{/procurement/supplieradjustment/} + ${arhed.xvoucher}" th:text="${arhed.xvoucher}"></a>
													</td>
													<td  th:text="${#dates.format(arhed.xdate, df)}"></td>
													<td th:text="${arhed.xtyperec}"></td>
													<td th:text="${arhed.xprime}"></td>
													<td th:text="${arhed.xbalprime}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>