<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.AcblMapper">
	<insert id="saveAcbl" parameterType="Acbl">
	
		INSERT INTO Acbl
		(
			xvoucher,
			xrow,
			xacc,
			xprime,
			xlong,
			xref,
			xdate,
			xyear,
			xper,
			xsub,
			xwh,
			xhwh,
			xinvnum,
			xtype,
			xlcno,
			xhlong,
			xgrnnum,
			xdatechq,
			xchequeno,
			zid,
			ztime,
			zutime,
			zauserid,
			zuuserid

		)
		VALUES
		(
			#{xvoucher, jdbcType=VARCHAR},
			#{xrow, jdbcType=INTEGER},
			#{xacc, jdbcType=VARCHAR},
			#{xprime, jdbcType=INTEGER},
			#{xlong, jdbcType=VARCHAR},
			#{xref, jdbcType=VARCHAR},
			#{xdate, jdbcType=DATE},
			#{xyear, jdbcType=INTEGER},
			#{xper, jdbcType=INTEGER},
			#{xsub, jdbcType=VARCHAR},
			#{xwh, jdbcType=VARCHAR},
			#{xhwh, jdbcType=VARCHAR},
			#{xinvnum, jdbcType=VARCHAR},
			#{xtype, jdbcType=VARCHAR},
			#{xlcno, jdbcType=VARCHAR},
			#{xhlong, jdbcType=VARCHAR},
			#{xgrnnum, jdbcType=VARCHAR},
			#{xdatechq, jdbcType=DATE},
			#{xchequeno, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR}
			
		)
	</insert>

	<update id="updateAcbl" parameterType="Acbl">
		UPDATE 
			Acbl 
		SET
			xvoucher=#{xvoucher, jdbcType=VARCHAR},
			xrow=#{xrow, jdbcType=INTEGER},
			xacc=#{xacc, jdbcType=VARCHAR},
			xprime=#{xprime, jdbcType=INTEGER},
			xlong=#{xlong, jdbcType=VARCHAR},
			xref=#{xref, jdbcType=VARCHAR},
			xdate=#{xdate, jdbcType=DATE},
			xyear=#{xyear, jdbcType=INTEGER},
			xper=#{xper, jdbcType=INTEGER},
			xsub=#{xsub, jdbcType=VARCHAR},
			xwh=#{xwh, jdbcType=VARCHAR},
			xhwh=#{xhwh, jdbcType=VARCHAR},
			xinvnum=#{xinvnum, jdbcType=VARCHAR},
			xtype=#{xtype, jdbcType=VARCHAR},
			xlcn=#{xlcno, jdbcType=VARCHAR},
			xhlong=#{xhlong, jdbcType=VARCHAR},
			xgrnnum=#{xgrnnum, jdbcType=VARCHAR},
			xdatechq=#{xdatechq, jdbcType=DATE},
			xchequeno=#{xchequeno, jdbcType=VARCHAR},
			zid=#{zid, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zuuserid=#{zuuserid, jdbcType=VARCHAR}
		WHERE
			zid=#{zid, jdbcType=VARCHAR}
	</update>

	
</mapper>
