<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.Achrc4Mapper">
	<insert id="saveAchrc4" parameterType="Achrc4">
	
		INSERT INTO Achrc4
		(
			xhrc4,
			xhrc1,
			xdecs,
			xrow,
			xacctype,
			xhrc2,
			xhrc3,
			zid,
			ztime,
			zutime,
			zauserid,
			zuuserid

		)
		VALUES
		(
			#{xhrc4, jdbcType=VARCHAR},
			#{xhrc1, jdbcType=VARCHAR},
			#{xdecs, jdbcType=VARCHAR},
			#{xrow, jdbcType=INTEGER},
			#{xacctype, jdbcType=VARCHAR},
			#{xhrc2, jdbcType=VARCHAR},
			#{xhrc3, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR}
			
		)
	</insert>

	<update id="updateAchrc4" parameterType="Achrc4">
		UPDATE 
			Achrc4
		SET
			xhrc4=#{xhrc4, jdbcType=VARCHAR},
			xhrc1=#{xhrc1, jdbcType=VARCHAR},
			xdecs=#{xdecs, jdbcType=VARCHAR},
			xrow=#{xrow, jdbcType=INTEGER},
			xacctype=#{xacctype, jdbcType=VARCHAR},
			xhrc2=#{xhrc2, jdbcType=VARCHAR},
			xhrc3=#{xhrc3, jdbcType=VARCHAR},
			zid=#{zid, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zuuserid=#{zuuserid, jdbcType=VARCHAR}
		WHERE
			zid=#{zid, jdbcType=VARCHAR}
	</update>

</mapper>
