<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ConsumptionMapper">

	<select id="IM_2GL_Transfer" statementType="CALLABLE">
		{call
		IM_2GL_Transfer(
		#{zid, jdbcType = VARCHAR, mode = IN}, 
		#{xuser, jdbcType = VARCHAR, mode = IN},
		#{xstartdate, jdbcType = DATE, mode = IN},
		#{xdatexenddate, jdbcType = DATE, mode = IN},
		#{xdate, jdbcType = DATE, mode = IN}, 
		#{xwh, jdbcType = VARCHAR, mode = IN},
		#{xtrn, jdbcType = VARCHAR, mode = IN},
		#{p_seq, jdbcType =VARCHAR, mode = IN}
		)
		}
	</select>
	
</mapper>