<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ImmofgdetailMapper">
	<insert id="save" parameterType="Immofgdetail">
		<!-- <selectKey keyProperty="xtornum" resultType="String" order="BEFORE">
			SELECT Func_GetTrn('${zid}', '${xtypetrn}', '${xtrn}', 6) FROM DUAL
		</selectKey> -->
		INSERT INTO immofgdetail
		(
			xtornum,
			xrow,
			xunit,
			xitem,
			xqtyord,
			xnote,
			xrate,
			xtypetrn,
			xtrn,
			zid,
			zauserid,
			zuuserid,
			zaip,
			zuip,
			zactive,
			ztime,
			zutime
		)
		VALUES
		(
			#{xtornum, jdbcType=VARCHAR},
			#{xrow, jdbcType=INTEGER},
			#{xunit, jdbcType=VARCHAR},
			#{xitem, jdbcType=VARCHAR},
			#{xqtyord, jdbcType=DECIMAL},
			#{xnote, jdbcType=VARCHAR},
			#{xrate, jdbcType=DECIMAL},	
			#{xtypetrn, jdbcType=VARCHAR},
			#{xtrn, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR},
			#{zaip, jdbcType=VARCHAR},
			#{zuip, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP}
		) 
	</insert>

	<update id="update" parameterType="Immofgdetail">
		UPDATE
			immofgdetail
		SET
			xunit=#{xunit, jdbcType=VARCHAR},
			xitem=#{xitem, jdbcType=VARCHAR},
			xqtyord=#{xqtyord, jdbcType=DECIMAL},
			xnote=#{xnote, jdbcType=VARCHAR},
			xrate=#{xrate, jdbcType=DECIMAL},	
			xtypetrn=#{xtypetrn, jdbcType=VARCHAR},
			xtrn=#{xtrn, jdbcType=VARCHAR},
			zuuserid=#{zuuserid, jdbcType=VARCHAR},
			zaip=#{zaip, jdbcType=VARCHAR},
			zuip=#{zuip, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP}
		WHERE
			xtornum=#{xtornum, jdbcType=VARCHAR}
			AND xrow=#{xrow, jdbcType=INTEGER}
			AND zid=#{zid, jdbcType=VARCHAR}
	</update>

	<select id="findCaBankByXbank" resultType="Immofgdetail">
		SELECT * FROM immofgdetail WHERE xtornum=#{xtornum} AND xrow=#{xrow} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="getAllImmofgDetail" resultType="Immofgdetail">
		SELECT * FROM immofgdetail WHERE zid=#{zid} AND zactive='1'
	</select>
</mapper>