<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ProcErrorLogMapper">

	<select id="findByAction" resultType="ProcErrorLog">
		SELECT * FROM ASL_ERROR_LOG_TABLE WHERE action=#{action} AND zid=#{zid}
	</select>

</mapper>