<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ProjectStoreViewMapper">

	<select id="getProjectStores" resultType="ProjectStoreView">
		SELECT
			*
		FROM
			PROJECTSTOREVIEW
		WHERE 
			zid=#{zid}
		ORDER BY
			xprojectname asc, xtype asc
	</select>

	<select id="getProjectStoresByXproject" resultType="ProjectStoreView">
		SELECT
			*
		FROM
			PROJECTSTOREVIEW
		WHERE 
			zid=#{zid}
			AND xproject=#{xproject}
		ORDER BY
			xprojectname asc, xtype asc
	</select>
	
	<select id="getProjectStoresByXtype" resultType="ProjectStoreView">
		SELECT
			*
		FROM
			PROJECTSTOREVIEW
		WHERE 
			zid=#{zid}
			AND xtype in ('Store','Site')
			AND xproject = #{xproject}
		ORDER BY
			xcode asc
	</select>

</mapper>
