<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.asl.entity"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/ArhedMapper.xml"/>
		<mapper resource="mappers/BmbomMapper.xml"/>
		<mapper resource="mappers/CabankMapper.xml"/>
		<mapper resource="mappers/CacusMapper.xml"/>
		<mapper resource="mappers/CaitemMapper.xml"/>
		<mapper resource="mappers/FormPagingMapper.xml"/>
		<mapper resource="mappers/ImmofgdetailMapper.xml"/>
		<mapper resource="mappers/ImstockMapper.xml"/>
		<mapper resource="mappers/ImtagMapper.xml"/>
		<mapper resource="mappers/ImtorMapper.xml"/>
		<mapper resource="mappers/ImtrnMapper.xml"/>
		<mapper resource="mappers/ListMapper.xml"/>
		<mapper resource="mappers/MoMapper.xml"/>
		<mapper resource="mappers/OpcrnMapper.xml"/>
		<mapper resource="mappers/OpdoMapper.xml"/>
		<mapper resource="mappers/OpordMapper.xml"/>
		<mapper resource="mappers/OrderRequisitionMapper.xml"/>
		<mapper resource="mappers/PaginationMapper.xml"/>
		<mapper resource="mappers/PdmstMapper.xml"/>
		<mapper resource="mappers/PocrnMapper.xml"/>
		<mapper resource="mappers/PogrnMapper.xml"/>
		<mapper resource="mappers/PoordMapper.xml"/>
		<mapper resource="mappers/ProcErrorLogMapper.xml"/>
		<mapper resource="mappers/ProductionSuggestionMapper.xml"/>
		<mapper resource="mappers/ProfileLineMapper.xml"/>
		<mapper resource="mappers/ProfileMapper.xml"/>
		<mapper resource="mappers/ProfileAllocationMapper.xml"/>
		<mapper resource="mappers/UserAuditRecordMapper.xml"/>
		<mapper resource="mappers/VataitMapper.xml"/>
		<mapper resource="mappers/XcodesMapper.xml"/>
		<mapper resource="mappers/XtrnMapper.xml"/>
		<mapper resource="mappers/XtrnpMapper.xml"/>
		<mapper resource="mappers/XusersMapper.xml"/>
		<mapper resource="mappers/ZaudittrailMapper.xml"/>
		<mapper resource="mappers/ZbusinessMapper.xml"/>
		<mapper resource="mappers/ZlogsMapper.xml"/>
		<mapper resource="mappers/ZusersMapper.xml"/>
		<mapper resource="mappers/ASLProcErrorMapper.xml"/>
		<mapper resource="mappers/DailyDistributionMapper.xml"/>
		<mapper resource="mappers/PSVMapper.xml"/>
		<mapper resource="mappers/XRolesMapper.xml"/>
		<mapper resource="mappers/POSPromotionMapper.xml"/>
		<mapper resource="mappers/POSSettingsMapper.xml"/>
		<mapper resource="mappers/POSPermissionsMapper.xml"/>
		<mapper resource="mappers/LandPersonMapper.xml"/>
		<mapper resource="mappers/LandExperienceMapper.xml"/>
		<mapper resource="mappers/LandInfoMapper.xml"/>
		<mapper resource="mappers/LandSurveyorMapper.xml"/>
		<mapper resource="mappers/LandOwnerMapper.xml"/>
		<mapper resource="mappers/LandCommitteeInfoMapper.xml"/>
		<mapper resource="mappers/LandDocumentMapper.xml"/>
		<mapper resource="mappers/LandSurveyMapper.xml"/>
		<mapper resource="mappers/LandComEventMapper.xml"/>
		<mapper resource="mappers/OpreqMapper.xml"/>
		<mapper resource="mappers/AccountGroupMapper.xml"/>
		<mapper resource="mappers/AcdefMapper.xml"/>
		<mapper resource="mappers/AcmstMapper.xml"/>
		<mapper resource="mappers/LandDagMasterMapper.xml"/>
		<mapper resource="mappers/AcMapper.xml"/>
		<mapper resource="mappers/AcsubviewMapper.xml"/>
		<mapper resource="mappers/AcsubMapper.xml"/>
		<mapper resource="mappers/OpreqMapper.xml"/>
		<mapper resource="mappers/OptoariMapper.xml"/>
		<mapper resource="mappers/PotoapiMapper.xml"/>
		<mapper resource="mappers/ImtogliMapper.xml"/>
		<mapper resource="mappers/AcyearendMapper.xml"/>
		<mapper resource="mappers/PdloantrnMapper.xml"/>
		<mapper resource="mappers/LcinfoMapper.xml"/>
		<mapper resource="mappers/ConsumptionMapper.xml"/>
		<mapper resource="mappers/PoreqheaderMapper.xml"/>
		<mapper resource="mappers/TermsdefMapper.xml"/>
		<mapper resource="mappers/CaprojectMapper.xml"/>
		<mapper resource="mappers/CawhMapper.xml"/>
		<mapper resource="mappers/CawhbudgetMapper.xml"/>
		<mapper resource="mappers/ImissueheaderMapper.xml"/>
		<mapper resource="mappers/TestMapper.xml"/>
		<mapper resource="mappers/ProjectStoreViewMapper.xml"/>
		<mapper resource="mappers/CawhfactMapper.xml"/>
		<mapper resource="mappers/CawhfactIssueMapper.xml"/>
		<mapper resource="mappers/MobomheaderMapper.xml"/>
		<mapper resource="mappers/ImprjtogliMapper.xml"/>
	</mappers>
</configuration>