<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>All Open Branches Requisitions</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/purchasing/bqls/allopenreq}">Open Requisitions (From Branch)</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<!-- rqls list section -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Open Requisitions (From Branch)</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="branchesorderrequisitiontable" th:fragment="branchesorderrequisitiontable">
									<thead>
										<tr>
											<th>REQ Number</th>
											<th>Branch Name</th>
											<th>Date</th>
											<th>Status</th>
											<th data-nosort="Y" style="text-align: right">Action</th>
										</tr>
									</thead>
									<tbody th:with="df=${'E, dd-MMM-yyyy'}">
										<tr th:each="r : ${bqlsList}">
											<td th:text="${r.xpornum}"></td>
											<td th:text="${r.zorg}"></td>
											<td th:text="${#dates.format(r.xdate, df)}"></td>
											<td th:text="${r.xstatuspor}"></td>
											<td style="text-align: right;">
												<button type="button" class="btn btn-primary btn-edit editmode" th:attr="data-url=@{/purchasing/bqls/ordreqdetails/} + ${r.branchzid} + '/' + ${r.xpornum} + '/show', data-target-modal='branchorderreqdetailmodal'"><i class="fas fa-eye"></i></button>
												<button th:if="${r.xstatuspor eq 'Open'}" type="button" class="btn btn-success btn-confirm editmode" th:attr="data-url=@{/purchasing/bqls/ordreqconfirm/allopen/} + ${r.branchzid} + '/' + ${r.xpornum}"><i class="fas fa-check-square"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="branchorderreqdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript">
			$(document).ready(function(){
				$('.query-submit-btn').on('click', function(e){
					e.preventDefault();
					submitMainForm();
				})
			})
		</script>
	</body>
</html>