<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sales Order Chalan</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice/salesorderchalan}">Production Chalan</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Production Chalan</h1>
						</div>

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div id="chalanform" th:fragment="chalanform">
										<div class="section-header sectionbartoggle">
											
										</div>
										<div class="form-action-button">
											<a th:href="@{/salesninvoice/salesorderchalan}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
											<a th:if="${#strings.isEmpty(salesorderchalan.xordernum)}" th:href="@{/salesninvoice/salesorderchalan}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Open'}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Open'}" th:href="@{/salesninvoice/salesorderchalan/archive/} + ${salesorderchalan.xordernum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == false and salesorderchalan.xstatus eq 'Open'}" th:href="@{/salesninvoice/salesorderchalan/restore/} + ${salesorderchalan.xordernum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Open'}" th:href="@{/salesninvoice/salesorderchalan/lockchalan/} + ${salesorderchalan.xordernum}" class="btn btn-sm btn-warning restore-btn-link"><i class="fas fa-unlock-alt"></i> Lock Chalan</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Confirmed'}" th:href="@{/salesninvoice/salesorderchalan/} + ${salesorderchalan.xordernum}" class="btn btn-sm btn-danger"><i class="fas fa-lock"></i> Locked</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and not salesorderchalan.suggestionCreated and not #lists.isEmpty(chalandetails)}" th:href="@{/production/suggestion/create/} + ${salesorderchalan.xordernum}" target="_blank" class="btn btn-sm btn-success"><i class="fas fa-clipboard-list"></i> Create Suggestion</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.suggestionCreated and not #lists.isEmpty(chalandetails)}" th:href="@{/production/suggestion/create/} + ${salesorderchalan.xordernum}" target="_blank" class="btn btn-sm btn-success"><i class="fas fa-clipboard-list"></i> Show Suggestion</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Confirmed' and not salesorderchalan.batchcreated and not #lists.isEmpty(chalandetails)}" target="_blank" th:href="@{/production/batch/} + ${salesorderchalan.xordernum}" class="btn btn-sm btn-warning"><i class="fas fa-thumbtack"></i> Create Batch</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Confirmed' and salesorderchalan.batchcreated}" th:href="@{/production/batch/} + ${salesorderchalan.xordernum}" class="btn btn-sm btn-warning" target="_blank"><i class="fas fa-thumbtack"></i> Show Batch</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Confirmed' and ((salesorderchalan.batchcreated and productioncompleted and not salesorderchalan.invoicecreated) OR #lists.isEmpty(chalandetails))}" th:href="@{/salesninvoice/salesorderchalan/createinvoice/} + ${salesorderchalan.xordernum}" class="btn btn-sm btn-info archive-btn-link"><i class="fas fa-file-invoice"></i> Invoice & Delivery Chalan</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.suggestionCreated and #strings.isEmpty(salesorderchalan.rawxtornum)}" th:href="@{/salesninvoice/salesorderchalan/torawforchalan/} + ${salesorderchalan.xordernum}" target="_blank" class="btn btn-sm btn-primary archive-btn-link"><i class="fas fa-random"></i> RAW TO</a>
											<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and productioncompleted and #strings.isEmpty(salesorderchalan.finishedxtornum)}" th:href="@{/salesninvoice/salesorderchalan/tofinishedfromchalan/} + ${salesorderchalan.xordernum}" target="_blank" class="btn btn-sm btn-primary archive-btn-link"><i class="fas fa-random"></i> PROD TO</a>
										</div>
										<div class="section-body section-border">
											<form id="mainform" class="form-horizontal" th:action="@{/salesninvoice/salesorderchalan/save}" th:object="${salesorderchalan}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
												<input type="hidden" class="form-control" th:field="*{xtypetrn}"/>
												<input th:if="${not #strings.isEmpty(salesorderchalan.xordernum)}" type="hidden" class="form-control" th:field="*{xtrn}"/>
												<input th:if="${not #strings.isEmpty(salesorderchalan.xordernum)}" type="hidden" class="form-control" th:field="*{xordernum}"/>
												<div class="row">
													<div class="col-md-8">
	
														<div class="form-group" th:if="${#strings.isEmpty(salesorderchalan.xordernum)}">
															<label class="control-label col-md-4" for="xtrn">Code : </label>
															<div class="col-md-4">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="bp : ${salesorderchalanprefix}" th:text="${bp.xtrn}" th:value="${bp.xtrn}"></option>
																</select>
															</div>
														</div>
	
														<div class="form-group" th:if="${not #strings.isEmpty(salesorderchalan.xordernum)}">
															<label class="control-label col-md-4" for="xtrn">Chalan Number : </label>
															<div class="col-md-4">
																<input type="text" class="form-control" th:value="${salesorderchalan.xordernum}" disabled="disabled"/>
															</div>
														</div>
	
														<div class="form-group">
															<label class="control-label col-md-4" for="xstatus">Status : </label>
															<div class="col-md-4">
																<input type="text" class="form-control" th:field="*{xstatus}" disabled="disabled"/>
															</div>
														</div>
	
														<div class="form-group" th:if="${productioncompleted}">
															<label class="control-label col-md-4" for="xstatus">Production Status : </label>
															<div class="col-md-4">
																<input type="text" class="form-control" th:value="${productioncompleted ? 'Completed' : ''}" disabled="disabled"/>
															</div>
														</div>
	
														<div class="form-group" th:if="${salesorderchalan.invoicecreated}">
															<label class="control-label col-md-4" for="xstatus">Invoice Status : </label>
															<div class="col-md-4">
																<input type="text" class="form-control" th:value="${salesorderchalan.invoicecreated ? 'Invoice Created' : ''}" disabled="disabled"/>
															</div>
														</div>
	
													</div>
													<div class="col-md-4"></div>
												</div>
											</form>
										</div>
										
										<script type="text/javascript">
											$(document).ready(function(){
												ck.ui.config.editmode();
											})
										</script>
										
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Chalan List</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll; overflow-y: none;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Chalan</th>
														<th>Date</th>
														<th>Status</th>
														<th style="text-align: center;">Suggestion Created</th>
														<th style="text-align: center;">Batch Created</th>
														<th style="text-align: center;">Production Completed</th>
														<th style="text-align: center;">Invoice Created</th>
														<th style="text-align: center;">RAW TO</th>
														<th style="text-align: center;">RROD TO</th>
														<th>Delivery Chalan No.</th>
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="bh : ${salesorderchalanList}">
														<td>
															<a th:href="@{/salesninvoice/salesorderchalan/} + ${bh.xordernum}" th:text="${bh.xordernum}"></a>
														</td>
														<td th:text="${#dates.format(bh.xdate, df)}"></td>
														<td th:text="${bh.xstatus}"></td>
														<td style="color: green; text-align: center;" th:text="${bh.suggestionCreated ? 'Y' : ''}"></td>
														<td style="color: green; text-align: center;" th:text="${bh.batchcreated ? 'Y' : ''}"></td>
														<td style="color: green; text-align: center;" th:text="${bh.productioncompleted ? 'Y' : ''}"></td>
														<td style="color: green; text-align: center;" th:text="${bh.invoicecreated ? 'Y' : ''}"></td>
														<td style="color: green; text-align: center;">
															<a th:href="@{/inventory/transferorder/} + ${bh.rawxtornum}" target="_blank" th:text="${bh.rawxtornum}"></a>
														</td>
														<td style="color: green; text-align: center;">
															<a th:href="@{/inventory/transferorder/} + ${bh.finishedxtornum}" target="_blank" th:text="${bh.finishedxtornum}"></a>
														</td>
														<td>
															<a th:href="@{/salesninvoice/deliveryorderchalan/} + ${bh.xdornum}" target="_blank" th:text="${bh.xdornum}"></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>

							</div>
						</div>
						
					</div>


					<div class="col-md-6" th:if="${not #strings.isEmpty(salesorderchalan.xordernum)}">
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>
									<span th:text="${salesorderchalan.xstatus eq 'Open' ? 'All assigned & open Sales Orders' : 'All assigned Sales Orders'}"></span>
								</h1>
							</div>
							<div class="section-body">
								<div class="row" th:if="${salesorderchalan.xstatus eq 'Open'}">
									<div class="col-md-6">
										<form id="mainform2" class="form-horizontal" th:action="@{/salesninvoice/salesorderchalan/opensalesorder/query}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" name="xordernum" th:value="${salesorderchalan.xordernum}"/>
											<div class="form-group datepicker">
												<label class="control-label col-md-4" for="xdate">Sales Order Date : </label>
												<div class="input-group date col-md-8 datepicker">
													<input 	type="datepicker" 
															class="form-control" 
															id="xdate"
															name="xdate"
															th:value="${#dates.format(#dates.createNow(), df)}"/>
													<div class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div class="col-md-6">
										<div class="">
											<button class="btn btn-sm btn-success query-submit-btn" type="submit"><i class="fas fa-search"></i></button>
										</div>
									</div>
								</div>

								<div style="overflow-x: scroll; overflow-y: none;">
									<table class="table table-striped table-bordered normal-table" id="opensalesorderstable" th:fragment="opensalesorderstable">
										<thead>
											<tr>
												<th>Sales Order No.</th>
												<th>Requisition</th>
												<th>Date</th>
												<th>Status</th>
												<th>Sales Invoice No.</th>
												<th data-nosort="Y" style="text-align: right">Action</th>
											</tr>
										</thead>
										<tbody th:with="df=${'E, dd-MMM-yyyy'}">
											<tr th:each="os : ${opensalesorders}">
												<td th:text="${os.xordernum}"></td>
												<td th:text="${os.xpornum} + ' - ' + ${os.branchname}"></td>
												<td th:text="${#dates.format(os.xdate, df)}"></td>
												<td th:text="${os.xstatus}"></td>
												<td th:text="${os.xdornum}"></td>
												<td style="text-align: right">
													<button type="button" class="btn btn-primary btn-edit editmode" th:attr="data-url=@{/salesninvoice/salesorderchalan/ordreqdetails/} + ${os.xordernum} + '/show', data-target-modal='salesorderdetailmodal'"><i class="fas fa-eye"></i></button>
													<button th:if="${os.xstatus eq 'Open' and salesorderchalan.xstatus eq 'Open'}" type="button" class="btn btn-success btn-confirm editmode" th:attr="data-url=@{/salesninvoice/salesorderchalan/salesorderconfirm/} + ${salesorderchalan.xordernum}  + '/' + ${os.xordernum}"><i class="fas fa-check-square"></i></button>
													<button th:if="${os.xstatus ne 'Open' and salesorderchalan.xstatus eq 'Open'}" type="button" class="btn btn-danger btn-confirm editmode" th:attr="data-url=@{/salesninvoice/salesorderchalan/salesorderrevoke/} + ${salesorderchalan.xordernum}  + '/' + ${os.xordernum}"><i class="fas fa-trash"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</section>
					</div>

					<div class="col-md-6" th:if="${not #strings.isEmpty(salesorderchalan.xordernum)}">
						<!-- poorddetail section -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>
									Chalan Details
									<a th:if="${not #strings.isEmpty(salesorderchalan.xordernum) and salesorderchalan.zactive == true and salesorderchalan.xstatus eq 'Confirmed'}" th:href="@{/salesninvoice/salesorderchalan/print/} + ${salesorderchalan.xordernum}" class="" target="_blank"><i class="fas fa-print"></i> Print</a>
								</h1>
							</div>
							<div class="section-body">
								<div style="overflow-x: scroll; overflow-y: none;">
									<table class="table table-striped table-bordered normal-table" id="salesorderchalandetailtable" th:fragment="salesorderchalandetailtable">
										<thead>
											<tr>
												<th>Item</th>
												<th>Qty</th>
												<th>Unit</th>
												<th>Category</th>
												<th>Group</th>
											</tr>
										</thead>
										<tbody th:with="df=${'E, dd-MMM-yyyy'}">
											<tr th:each="cd : ${chalandetails}">
												<td>
													<a th:href="@{/mastersetup/caitem/} + ${cd.xitem}" target="_blank" th:text="${cd.xitem} + ' - ' + ${cd.xdesc}"></a>
												</td>
												<td th:text="${cd.xqtyord}"></td>
												<td th:text="${cd.xunit}"></td>
												<td th:text="${cd.xcatitem}"></td>
												<td th:text="${cd.xgitem}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="salesorderchalandetailmodal-section"></div>
		<div id="salesorderdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript">
			$(document).ready(function(){
				$('.query-submit-btn').on('click', function(e){
					e.preventDefault();
					submitMainForm($('#mainform2').attr('action'), $('#mainform2'));
				})
			})
		</script>
	</body>
</html>