<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{srs.page.title}">Sales Return</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice/salesreturn}">Sales Return</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center" th:text="#{srs.page.heading}">Sales Return</h1>
						</div>

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle"></div>
									<div class="form-action-button">
										<a th:href="@{/salesninvoice/salesreturn}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
										<a th:if="${#strings.isEmpty(opcrnheader.xcrnnum)}" th:href="@{/salesninvoice/salesreturn}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
										<a th:if="${not #strings.isEmpty(opcrnheader.xcrnnum) and opcrnheader.xstatuscrn eq 'Open'}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
										<a th:if="${not #strings.isEmpty(opcrnheader.xcrnnum) and opcrnheader.xstatuscrn eq 'Open'}" th:href="@{/salesninvoice/salesreturn/archive/} + ${opcrnheader.xcrnnum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
										<a th:if="${not #strings.isEmpty(opcrnheader.xcrnnum) and opcrnheader.xstatuscrn eq 'Open'}" th:href="@{/salesninvoice/salesreturn/confirmsrn/} + ${opcrnheader.xcrnnum}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-clipboard-check"></i> <span style="margin-left:2px;" th:text="#{button.value.xconfirm}"> Confirm</span></a>
										<a th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}" th:href="@{/salesninvoice/salesreturn/print/} + ${opcrnheader.xcrnnum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> <span style="margin-left:2px;" th:text="#{button.value.xprint}"> Print</span></a>
									</div>
									<div class="section-body section-border">
										<div id="opcrnheaderform" th:fragment="opcrnheaderform">
											<form id="mainform" class="form-horizontal" th:action="@{/salesninvoice/salesreturn/save}" th:object="${opcrnheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
												<input type="hidden" th:field="*{xtypetrn}"/>
		
												<div class="row">
													<div class="col-md-6">
														<div class="form-group" th:if="${#strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xtype" th:text="#{srs.form.label.xtype}">Return Code</label>
															<div class="col-md-4">
																<select class="form-control" th:field="*{xtype}">
																	<option th:each="prefix : ${crnprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																</select>
															</div>
														</div>
		
														<div class="form-group" th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xcrnnum" th:text="#{srs.form.label.xcrnnum}">Return Number</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xcrnnum}">
																<input type="text" class="form-control" th:value="*{xcrnnum}" disabled="disabled">
															</div>
														</div>
		
														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate" th:text="#{srs.form.label.xdate}">Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdate"
																		name="xdate"
																		th:value="${opcrnheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opcrnheader.xdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>
		
														<div class="form-group" th:if="${#strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xdornum" th:text="#{srs.form.label.xdornum}">Invoice Number</label>
															<div class="col-sm-8">
																<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${opcrnheader.xdornum}" 
																		th:attr="search-url='search/confirmedinvoice'"/>
																<input type="hidden" id="search-val" th:field="*{xdornum}"/>
																<input type="hidden" id="search-des" th:value="*{xdornum}"/>
															</div>
														</div>
		
														<div class="form-group" th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xdornum" th:text="#{srs.form.label.xdornum}">Invoice Number</label>
															<div class="col-sm-6">
																<input type="hidden" th:field="*{xdornum}">
																<input type="text" class="form-control" th:value="*{xdornum}" disabled="disabled"/>
															</div>
														</div>
		
														<div class="form-group" th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xcus" th:text="#{srs.form.label.xcus}">Customer</label>
															<div class="col-sm-8">
																<input type="hidden" th:field="*{xcus}">
																<input type="text" class="form-control" th:value="${opcrnheader.xcus + ' - ' + opcrnheader.xorg}" disabled="disabled"/>
															</div>
														</div>
		
														<!--<div class="form-group" th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xwh" th:text="#{srs.form.label.xwh}">Warehouse</label>
															<div class="col-md-8">
																<input type="hidden" th:field="*{xwh}"/>
																<select class="form-control" th:field="*{xwh}" disabled="disabled">
																	<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode} +' - '+ ${wh.xlong}"></option>
																</select>
															</div>
														</div>-->

														<div class="form-group" th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xhwh">Project/Business</label>
															<div class="col-md-8">
																<input type="hidden" th:field="*{xhwh}" class="form-control"/>
																<input type="text" th:value="${opcrnheader.xhwh+ '-' + opcrnheader.projectName}" class="form-control" disabled="disabled"/>
															</div>
														</div>
	
														<div class="form-group" th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xwh" th:text="#{pr.form.label.xwh}">Site/Store</label>
															<div class="col-md-8">
																<input type="hidden" th:field="*{xwh}" class="form-control"/>
																<input type="text" th:value="${opcrnheader.xwh + '-' + opcrnheader.storeName}" class="form-control" disabled="disabled"/>
															</div>
														</div>
		
														<div class="form-group" th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}">
															<label class="control-label col-md-4" for="xpaymenttype" th:text="#{srs.form.label.xpaymenttype}">Payment Type</label>
															<div class="col-md-8">
																<input type="hidden" th:field="*{xpaymenttype}" class="form-control">
																<input type="text" th:value="*{xpaymenttype}" class="form-control" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xnote" th:text="#{srs.form.label.xnote}">Note : </label>
															<div class="col-md-8">
																<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
															</div>
														</div>

													</div>
													<div class="col-md-6">
		
														<div class="form-group">
															<label class="control-label col-md-4" for="xvoucher" th:text="#{srs.form.label.xvoucher}">Voucher No.</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xvoucher}" disabled="disabled">
															</div>
														</div>
		
														<div class="form-group">
															<label class="control-label col-md-4" for="xstatucgrn" th:text="#{srs.form.label.xstatucgrn}">Status</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xstatuscrn}"/>
																<input type="text" class="form-control" th:value="*{xstatuscrn}" disabled="disabled"/>
															</div>
														</div>
		
														<div class="form-group">
															<label class="control-label col-md-4" for="xtotamt" th:text="#{ie.form.label.xtotamt}">Total Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xtotamt}">
																<input type="text" class="form-control xtotamt" th:value="*{xtotamt}" disabled="disabled">
															</div>
														</div>
		
														<div class="form-group">
															<label class="control-label col-md-4" for="xvatamt">Vat Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xvatamt}">
																<input type="text" class="form-control" th:value="*{xvatamt}" disabled="disabled">
															</div>
														</div>
		
														<div class="form-group">
															<label class="control-label col-md-4" for="xaitamt">AIT Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xaitamt}">
																<input type="text" class="form-control" th:value="*{xaitamt}" disabled="disabled">
															</div>
														</div>
		
														<div class="form-group">
															<label class="control-label col-md-4" for="xdiscamt">Discount Amount</label>
															<div class="col-md-6">
																<input type="text" class="form-control" th:field="*{xdiscamt}">
															</div>
														</div>
		
													</div>
												</div>
											</form>
										</div>
									</div>
								</section>
							</div>

							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Sales Return List</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{srs.table.heading.xcrnnum}">Return Number</th>
														<th th:text="#{srs.table.heading.xdate}">Date</th>
														<th th:text="#{srs.table.heading.xdornum}">Invoice Number</th>
														<th th:text="#{srs.table.heading.xcus}">Customer Number</th>
														<th th:text="#{srs.table.heading.xstatucgrn}">Status</th>
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="opcrn : ${allOpcrnHeader}">
														<td>
															<a th:href="@{/salesninvoice/salesreturn/} + ${opcrn.xcrnnum}" th:text="${opcrn.xcrnnum}"></a>
														</td>
														<td  th:text="${#dates.format(opcrn.xdate, df)}"></td>
														<td th:text="${opcrn.xdornum}"></td>
														<td th:text="${opcrn.xcus + ' - ' + opcrn.xorg}"></td>
														<td th:text="${opcrn.xstatuscrn}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>

							</div>
						</div>
					</div>

					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(opcrnheader.xcrnnum)}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Sales Return Details of <span th:text="${opcrnheader.xcrnnum}"></span></h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered normal-table nowrap" id="opcrndetailtable" th:fragment="opcrndetailtable">
									<thead>
										<tr>
											<th th:text="#{srs.table1.heading.xrow}">Row</th>
											<th th:text="#{srs.table1.heading.xitem}">Item</th>
											<th>Unit</th>
											<th th:text="#{srs.table1.heading.xqtygrn}" class="text-right">Qty</th>
											<th th:text="#{srs.table1.heading.xrate}" class="text-right">Rate</th>
											<th th:text="#{srs.table1.heading.xlineamt}" class="text-right">Line Amount</th>
											<th th:text="#{ds.modal.table.heading.xvatamt}" class="text-right">Vat</th>
											<th>CF(Selling)</th>
											<th th:text="#{srs.table1.heading.xnote}">Note</th>
											<th data-nosort="Y" style="text-align: right;" th:if="${opcrnheader.xstatuscrn eq 'Open'}">
												Action
												<!-- <button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/salesninvoice/salesreturn/} + ${opcrnheader.xcrnnum} + '/opcrndetail/new/show', data-target-modal='opcrndetailmodal'"><i class="fas fa-plus"></i></button> -->
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d : ${opcrnDetailsList}">
											<td th:text="${d.xrow}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" th:text="${d.xitem + ' - ' + d.xitemname}" target="_blank"></a>
											</td>
											<td th:text="${d.xunit}"></td>
											<td class="text-right" th:text="${d.xqtyord}"></td>
											<td class="text-right" th:text="${d.xrate}"></td>
											<td class="text-right" th:text="${d.xlineamt}"></td>
											<td class="text-right" th:text="${d.xvatamt}"></td>
											<td th:text="${d.xcfsel}" class="text-right"></td>
											<td th:text="${d.xlong}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${opcrnheader.xstatuscrn eq 'Open'}">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/salesninvoice/salesreturn/} + ${opcrnheader.xcrnnum} + '/opcrndetail/' + ${d.xrow} + '/show', data-target-modal='opcrndetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/salesninvoice/salesreturn/} + ${opcrnheader.xcrnnum} + '/opcrndetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<th colspan="5" class="text-right">Total</th>
										<th class="text-right" th:text="${totalLineAmount}">0</th>
										
									</tfoot>
								</table>
							</div>
						</section>
					</div>

					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(opcrnheader.xvoucher)}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1 th:text="'Voucher Details of ' + ${opcrnheader.xvoucher}"></h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered normal-table nowrap" id="voucherdetailtable" th:fragment="voucherdetailtable">
									<thead>
										<tr>
											<th th:text="#{srs.modal.table.heading.xrow}">SN.</th>
											<th th:text="#{srs.modal.table.heading.xacc}">Account</th>
											<th th:text="#{srs.modal.table.heading.xsub}">Sub Account</th>
											<th th:text="#{srs.modal.table.heading.xlong}">Note</th>
											<th th:text="#{srs.modal.table.heading.xdebit}" class="text-right">Debit</th>
											<th th:text="#{srs.modal.table.heading.xcredit}" class="text-right">Credit</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d,n : ${acdetails}">
											<td th:text="${d.xrow}"></td>
											<td>
												<a th:href="@{/account/coa/} + ${d.xacc}" target="_blank" th:text="${d.xacc} + ' - ' + ${d.accountname}"></a>
											</td>
											<td th:text="${#strings.isEmpty(d.xsub) ? '' : d.xsub + ' - ' + d.xorg}"></td>
											<td th:text="${d.xlong}"></td>
											<td class="text-right" th:text="${d.xdebit}"></td>
											<td class="text-right" th:text="${d.xcredit}"></td>
										</tr>
									</tbody>
									<tfoot>
										<th colspan="4" class="text-right" th:text="#{srs.modal.table.heading.xtotal}">Total</th>
										<th class="text-right" th:text="${totalDebit}">0</th>
										<th class="text-right" th:text="${totalCredit}">0</th>
									</tfoot>
								</table>
							</div>
						</section>
					</div>

				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="opcrndetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>

	<script>
		$(document).ready(function(){
			
			$('a.confirmsrn-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var grnNum = $("#xgrnnum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/salesreturn/confirmsrn/" + grnNum,
					success: function(result){
						var status = result.status.toLowerCase()
						
						if(status == "success")
							showMessage("success", "PRN Confirmed");
						else if(status == "error")
							showMessage("error", "Somthing went wrong.....");
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1500);
					}
				});
			});
			
		/* 	$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						var aitPercent = parseFloat(data.xait);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;
						
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						$('input[name="xaitamt"]').val(aitAmount);
						$('input.xaitamt-show').val(aitAmount);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			 */
			
		});
	</script>
</html>