<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Codes</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li><a th:href="@{/mastersetup/cap}">Codes and parameters</a></li>
										<li class="active"><a th:href="@{/mastersetup/xcodes}">Codes</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Codes</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/mastersetup/xcodes}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a th:if="${#strings.isEmpty(xcodes.xcode)}" th:href="@{/mastersetup/xcodes}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(xcodes.xcode)}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(xcodes.xcode)}" th:href="@{/mastersetup/xcodes/archive/} + ${xcodes.xtype} + '/' + ${xcodes.xcode}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
										<!-- <a th:if="${not #strings.isEmpty(xcodes.xcode) and xcodes.zactive == false}" th:href="@{/mastersetup/xcodes/restore/} + ${xcodes.xtype} + '/' + ${xcodes.xcode}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a> -->
										<!-- Form Pagination -->
										<!-- <a th:href="@{/mastersetup/xcodes/paging/jump/top}" class="btn btn-sm btn-warning"><i class="fas fa-angle-double-up"></i> Top</a>
										<a th:href="@{/formpaging/step/prev/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info"><i class="fas fa-angle-double-left"></i> Previous</a>
										<a th:href="@{/formpaging/step/next/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info">Next <i class="fas fa-angle-double-right"></i></a>
										<a th:href="@{/mastersetup/xcodes/paging/jump/bottom}" class="btn btn-sm btn-warning">Bottom <i class="fas fa-angle-double-down"></i></a> -->
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/mastersetup/xcodes/save}" th:object="${xcodes}" method="post">
											<input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyId)}" id="copyId" name= "copyId"/>
											<input type="hidden" th:if="${not #strings.isEmpty(xcodes.xtype) and not #strings.isEmpty(xcodes.xcode)}" th:field="*{xtype}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(xcodes.xtype) and not #strings.isEmpty(xcodes.xcode)}" th:field="*{xcode}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label col-md-4" for="xtype">Code Type : </label>
														<div class="col-md-6">
															<select class="form-control" th:field="*{xtype}" th:disabled="${not #strings.isEmpty(xcodes.xtype) and not #strings.isEmpty(xcodes.xcode)}">
																<option th:each="type : ${T(com.asl.enums.CodeType).values()}" th:value="${type.code}" th:text="${type.code}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xcode">Code : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xcode}" required="required" maxlength="100"  th:disabled="${not #strings.isEmpty(xcodes.xtype) and not #strings.isEmpty(xcodes.xcode)}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="seqn">Sequence : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{seqn}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xdescdet">Description : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xdescdet}">
														</div>
													</div>
													<div class="form-group input2">
														<label class="control-label col-sm-4" for="zactive">Is Active ?</label>
														<div class="col-sm-8">
															<div class="checkbox">
																<label><input type="checkbox" class="form-control-input2" th:field="*{zactive}" value="Y"/></label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Codes</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap" id="xcodestable" th:fragment="xcodestable">
											<thead>
												<tr>
													<th>Code Type</th>
													<th>Code</th>
													<th>Description</th>
													<th>Active</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="xcd : ${xcodesList}">
													<td th:text="${xcd.xtype}"></td>
													<td><a th:href="@{/mastersetup/xcodes/} + ${xcd.xtype} + '/' +${xcd.xcode}" th:text="${xcd.xcode}"></a></td>
													<td th:text="${xcd.xdescdet}"></td>
													<td th:text="${xcd.zactive ? 'Y' : 'N'}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>