<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Promotion</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li class="active"><a th:href="@{/promotion}">Promotion</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Promotion</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/promotion}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a th:if="${promotions.newdata}" href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
										<a th:if="${not promotions.newdata}" href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/promotion/save}" th:object="${promotions}" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{newdata}">
											<input th:if="${not #strings.isEmpty(promotions.xpromono)}" type="hidden" th:field="*{xpromono}">
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-4" for="xpromono">Promotion Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xpromono}" maxlength="100" required="required" th:disabled="${not #strings.isEmpty(promotions.xpromono)}"/>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xstartdate">Start Date : </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																		class="form-control" 
																		id="xstartdate"
																		name="xstartdate"
																		required="required"
																		th:value="${promotions.xstartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(promotions.xstartdate, df)}"/>
																
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xstarttime">Start Time : </label>
																<div class="input-group time col-md-5 date-time-wrapper timepicker">
																	<input class="form-control" th:field="*{xstarttime}" data-type="timepicker" placeholder="Start" required="required" >
																	<span class="input-group-append input-group-addon">
																		<span class="input-group-text">
																			<i class="fa fa-clock"></i>
																		</span>
																	</span>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xenddate">End Date : </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																	class="form-control" 
																	th:field="*{xenddate}"
																	id="xenddate"
																	name="xenddate"
																	required="required"
																	th:value="${promotions.xenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(promotions.xenddate, df)}"
																	/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xendtime">End Time : </label>
																<div class="input-group time col-md-5 date-time-wrapper timepicker">
																	<input class="form-control" th:field="*{xendtime}" data-type="timepicker" placeholder="Start" required="required" >
																	<span class="input-group-append input-group-addon">
																		<span class="input-group-text">
																			<i class="fa fa-clock"></i>
																		</span>
																	</span>
																</div>
															</div>
															</div>
															<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-4" for="xdisctype">Discount Type</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdisctype}">
																		<option value="">-- Select --</option>
																		<option th:each="d : ${discountTypes}" th:value="${d.xcode}" th:text="${d.xcode}">Amount</option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xdisc">Discount</label>
																<div class="col-md-8">
																	<input type="number" class="form-control"  th:field="*{xdisc}" min="0" placeholder="0.00"/>
																</div>
															</div>
															<div class="form-group input2">
																<label class="control-label col-sm-4" for="zactive">Active</label>
																<div class="col-sm-8">
																	<div class="checkbox">
																		<label><input type="checkbox" class="form-control-input2" th:field="*{zactive}" value="Y"/></label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Items</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: auto;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th> Promotion Name</th>
														<th>Discount Type</th>
														<th>Discount</th>
														<th>Active Status</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ar : ${allPromotions}">
														<td><a th:href="@{/promotion/} + ${ar.xpromono}" th:text="${ar.xpromono}"></a></td>
														<td th:text="${ar.xdisctype}"></td>
														<td th:text="${ar.xdisc}"></td>
														<td th:text="${ar.zactive ? 'Y' : 'N'}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
