<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Chart of Account</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/account}">General Accounts</a></li>
										<li class="active"><a th:href="@{/account/chartaccount}">Chart of Account</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Sub Account</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/account/chartaccount}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
										<a href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a href="#" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal"  th:with="df=${'E, dd-MMM-yyyy'}">
											<div class="row">
												<div class="col-md-6">
												   <div class="form-group">
														<label class="control-label col-md-4">Account : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" value="100110">
														</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Description : </label>
													<div class="col-md-8">
														<textarea class="form-control" placeholder="Cash On Hand" rows="1" style="resize: none;"></textarea>
													</div>
												</div>	

												<div class="form-group">
													<label class="control-label col-md-4">Account Type : </label>
														<div class="col-md-8 col-sm-offset-4">
															<div class="radio">
																<label><input type="radio" name="ACtype" required="required"/>Asset</label>
																</div>
															<div class="radio">
																<label><input type="radio" name="ACtype" required="required"/>Expenditure</label>
															</div>
															<div class="radio">
																<label><input type="radio" name="ACtype" required="required"/>Income</label>
															</div>
															<div class="radio">
																<label><input type="radio" name="ACtype" required="required"/>Liability</label>
															</div>
														</div>
												</div>
 												<div class="form-group">
												<label class="control-label col-md-4">Account Usage : </label>
													<div class="col-sm-8 col-md-offset-4">
														<div class="radio">
															<label><input type="radio" name="ACusage" required="required"/>AP</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACusage" required="required"/>AR</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACusage" required="required"/>Bank</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACusage" required="required"/>Ledger</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACusage" required="required"/>Tax</label>
														</div>
													</div>
												</div> 
												</div>
												<div class="col-md-6">
												<div class="form-group">
												<label class="control-label col-md-4">Account Source : </label>
													<div class="col-sm-8 col-md-offset-4">
														<div class="radio">
															<label><input type="radio" name="ACsource" required="required"/>Customer</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACsource" required="required"/>Employee</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACsource" required="required"/>Sub Account</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACsource" required="required"/>Supplier</label>
														</div>
														<div class="radio">
															<label><input type="radio" name="ACsource" required="required"/>None</label>
														</div>
													</div>
												</div> 
												<div class="form-group">
													<label class="control-label col-md-4">Level 1 : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="10. ASSET">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Level 2 : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="12. Current Assets">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Level 3 : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="18. Cash & Cash Equivalents">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Level 4 : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="20. Cash On Hand">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4">Level 5 : </label>
													<div class="col-md-8">
														<input type="text" class="form-control" value="">
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</section>
						</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Chart of Account</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Account</th>
													<th>Description</th>
													<th>Account Type</th>
													<th>Account Usage</th>
													<th>Account Source</th>
													<th>Account Group</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<a href="#">10001010</a>
													</td>
													<td>Cash On Hand</td>
													<td>Asset</td>
													<td>Bank</td>
													<td>None</td>
													<td>Kallan</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
					</div>			
				</div>
			</div>
		</div>
	</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		
	</body>
</html>
