<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Convention Management</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
		<style type="text/css">
			.item-container{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: 10px;
			}
			.item-box, .item-box2{
				text-align: center;
				padding: 5px !important;
				width: 150px;
				margin: 10px;
				border-radius: 5px;
				cursor: pointer;
				background: #29af70;
				color: #fff;
				padding: 20px 0px !important;
			}
			.item-box p, .item-box2 p{
				margin: 0;
				padding: 0;
			}
			.item-box2{
				background: #961b39; 
				text-decoration: none;
				width: 200px;
			}
			.item-box2:hover{
				color:#fff; 
				text-decoration: none;
			}
			.item-section h4{
				margin: 0;
				padding: 0;
				padding-left: 10px;
				margin-top: 30px;
			}
		</style>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li class="active"><a th:href="@{/conventionmanagement}">Convention Hall Management</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 content-area">
						<!-- Section data maintenance -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Convention Management</h1>
							</div>
							<div class="section-body">
								<table class="table dashboard-menu-table">
									<tr>
										<td colspan="2">Convention Management</td>
									</tr>
									<tr>
										<td><a th:href="@{/conventionmanagement/hallbooking}">Convention Hall Booking</a></td>
										<td>
											<a th:href="@{/conventionmanagement/hallbooking}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									
								</table>
							</div>
						</section>
					</div>

					<div class="col-md-8">
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Hall Status (Today)</h1>
							</div>
							<div class="section-body" th:with="df=${'E, dd-MMM-yyyy'}">
								<div class="row">
									<div th:if="${not #lists.isEmpty(availableHalls)}" class="item-section text-center">
										<h4>Available Halls</h4>
										<div class="col-md-12 text-center item-container">
											<div class="item-box" th:each="hall : ${availableHalls}">
												<p style="font-weight: bold; font-size: 20px;" th:text="${hall.xdesc}"></p>
												<p><span th:text="${hall.xrate}"></span>/-</p>
											</div>
										</div>
									</div>

									<div th:if="${not #lists.isEmpty(bookedHalls)}" class="item-section text-center">
										<h4>Booked Halls</h4>
										<div class="col-md-12 text-center item-container">
											<a 	class="item-box2" 
												th:href="@{/conventionmanagement/hallbooking/} + ${hall.xordernum}" 
												th:each="hall : ${bookedHalls}">
												<p style="font-weight: bold; font-size: 20px;" th:text="${hall.xdesc}"></p>
												<p th:text="'Booking No: ' + ${hall.xordernum}"></p>
												<p th:text="'Start: ' + ${#dates.format(hall.xstartdate, df)} + ' ' + ${hall.xstarttime}"></p>
												<p th:text="'End: ' + ${#dates.format(hall.xenddate, df)} + ' ' + ${hall.xendtime}"></p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
