<!-- Modal -->
<div id="commembersmodal" th:fragment="commembersmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Committee Member</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/landcommitteeinfo/commembers/save}" th:object="${lcm}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										<h1></h1>
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group" >
											<label class="control-label col-md-4" for="xcommittee">Land ID</label>
											<div class="col-md-7">
												<input type="hidden" class="form-control" th:field="*{xcommittee}"/>
												<input type="text" class="form-control" th:value="*{xcommittee}" disabled="disabled" />
											</div>
										</div>
										
										<div class="form-group" >
											<label class="control-label col-md-4" for="xperson">Person ID</label>
											<div class="col-sm-7">
												<input 	type="text" 
														class="form-control searchsuggest" 
														placeholder="Search..." 
														th:value="${lcm.xperson}" 
														th:attr="search-url='search/personId'"/>
												<input type="hidden" id="search-val" th:field="*{xperson}"/>
												<input type="hidden" id="search-des" th:value="*{xperson}"/>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-4" for="xmembertype">Member Type</label>
											<div class="col-md-7">
												<select class="form-control" th:field="*{xmembertype}">
													<option th:each="d : ${memberTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
												</select>
											</div>
										</div>

									</div>

									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-3" for="xnote">Note</label>
											<div class="col-md-7">
												<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
			});
		</script>
</div>
