<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Land Member Info</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li class="active"><a th:href="@{/landmemberinfo}">Land Member Info</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Member Info</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landmemberinfo}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
														<a th:if="${#strings.isEmpty(landmember.xmember)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a th:if="${not #strings.isEmpty(landmember.xmember) and landmember.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a th:if="${not #strings.isEmpty(landmember.xmember) and landmember.zactive == true}" th:href="@{/landmemberinfo/delete/} + ${landmember.xmember}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landmemberinfo/save}" th:object="${landmember}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xmember}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">

															<div class="form-group" th:if="${#strings.isEmpty(landmember.xmember)}">
																<label class="control-label col-md-4" for="xtrn">Member ID </label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(landmember.xmember)}" >
																<label class="control-label col-md-4" for="xmember">Member ID</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xmember}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group" >
																<label class="control-label col-md-4" for="xperson">Person ID</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${landmember.xperson}" 
																			th:attr="search-url='search/personId'"/>
																	<input type="hidden" id="search-val" th:field="*{xperson}"/>
																	<input type="hidden" id="search-des" th:value="*{xperson}"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xdesignation">Designation</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdesignation}">
																		<option th:each="d : ${designationTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>

														</div>

														<div class="col-md-6">

															
	
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Member Info</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														
														<th>Member ID</th>
														<th>Person ID</th>
														<th>Designation</th>
														
													</tr>
													
												</thead>
												<tbody>
													<tr th:each="ar : ${allLandMembers}">
														<td><a th:href="@{/landmemberinfo/} + ${ar.xmember}" th:text="${ar.xmember}"></a></td>
														<td th:text="${ar.xperson}"></td>
														<td th:text="${ar.xdesignation }"></td>
														
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
