<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Land Committee Members</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/landcommitteemembers}">Land Committee Members</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Land Committee Members</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landcommitteemembers}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> New</a>
														<a th:if="${#strings.isEmpty(committeeMember.xcommittee)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Clear</a>
														<a th:if="${not #strings.isEmpty(committeeMember.xcommittee) and committeeMember.zactive == true}"  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a th:if="${not #strings.isEmpty(committeeMember.xcommittee) and committeeMember.zactive == true}" th:href="@{/landcommitteemembers/archive/} + ${committeeMember.xcommittee} +'/'+ ${committeeMember.xperson}"  class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
														<a th:if="${not #strings.isEmpty(committeeMember.xcommittee) and committeeMember.zactive == false}"  th:href="@{/landcommitteemembers/restore/} + ${committeeMember.xcommittee} +'/'+ ${committeeMember.xperson}"  class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landcommitteemembers/save}" th:object="${committeeMember}">
											<input type="hidden" th:field="*{newData}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">

															<div class="form-group" th:if="${committeeMember.newData}">
																<label class="control-label col-md-4" for="xcommittee">Committee ID</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${committeeMember.xcommittee}" 
																			th:attr="search-url='search/committeeId'"/>
																	<input type="hidden" id="search-val" th:field="*{xcommittee}"/>
																	<input type="hidden" id="search-des" th:value="*{xcommittee}"/>
																</div>
															</div>

															<div class="form-group" th:if="${not committeeMember.newData}">
																<label class="control-label col-md-4" for="xcommittee">Committee ID</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xcommittee}"/>
																	<input type="text" class="form-control" th:value="*{xcommittee}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group" th:if="${committeeMember.newData}">
																<label class="control-label col-md-4" for="xperson">Person ID</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${committeeMember.xperson}" 
																			th:attr="search-url='search/personId'"/>
																	<input type="hidden" id="search-val" th:field="*{xperson}"/>
																	<input type="hidden" id="search-des" th:value="*{xperson}"/>
																</div>
															</div>

															<div class="form-group" th:if="${not committeeMember.newData}">
																<label class="control-label col-md-4" for="xperson">Person ID</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xperson}"/>
																	<input type="text" class="form-control" th:value="*{xperson}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xmembertype">Member Type</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xmembertype}">
																		<option th:each="d : ${memberTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>

														</div>

														<div class="col-md-6">

															<div class="form-group">
																<label class="control-label col-md-4" for="xcontribution">Contribution Type:</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xcontribution}">
																		<option th:each="d : ${contyributionTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note:</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3"  placeholder="Note"></textarea>
																</div>
															</div>

														</div>
														
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Land Committee Members</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>SN.</th>
														<th>Committee ID</th>
														<th>Person ID</th>
														<th>Member Type</th>
														<th>Occupation Type</th>
													</tr>
													
												</thead>
												<tbody>
													<tr th:each="ar, c : ${allCommitteeMembers}">
														<td>
															<a th:href="@{/landcommitteemembers/} + ${ar.xcommittee} + '/' + ${ar.xperson}" th:text="${c.count}"></a>
														</td>
														<td><a th:href="@{/landcommitteeinfo/} + ${ar.xcommittee}" target="_blank" th:text="${ar.xcommittee}"></a></td>
														<td><a th:href="@{/landperson/} + ${ar.xperson}" target="_blank" th:text="${ar.xperson}"></a></td>
														<td th:text="${ar.xmembertype}"></td>
														<td th:text="${ar.xcontribution}"></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
