<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Land survey</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/landsurvey}">Land survey</a></li>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Land Survey</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landsurvey}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
														<a th:if="${#strings.isEmpty(survey.xland)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a th:if="${not #strings.isEmpty(survey.xland)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a th:if="${not #strings.isEmpty(survey.xland)}" th:href="@{/landsurvey/} + ${survey.xland} + '/' + ${survey.xrow} + '/delete'" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landsurvey/save}" th:object="${survey}" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
											<input type="hidden" th:field="*{newData}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" th:if="${#strings.isEmpty(survey.xland)}">
																<label class="control-label col-md-4" for="xland">Land ID </label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${survey.xland}" 
																			th:attr="search-url='search/landId'"/>
																	<input type="hidden" id="search-val" th:field="*{xland}"/>
																	<input type="hidden" id="search-des" th:value="*{xland}"/>
																</div>
															</div>
															<div class="form-group" th:if="${not #strings.isEmpty(survey.xland)}">
																<label class="control-label col-md-4" for="xland">Land ID </label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xland}"/>
																	<input type="text" class="form-control" th:value="*{xland}" disabled="disabled"/>
																</div>
															</div>
															
															<div class="form-group" th:if="${#strings.isEmpty(survey.xland)}">
																<label class="control-label col-md-4" for="xsurveyor">Surveyor ID </label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${survey.xsurveyor}" 
																			th:attr="search-url='search/landSur'"/>
																	<input type="hidden" id="search-val" th:field="*{xsurveyor}"/>
																	<input type="hidden" id="search-des" th:value="*{xsurveyor}"/>
																</div>
															</div>
															<div class="form-group" th:if="${not #strings.isEmpty(survey.xland)}">
																<label class="control-label col-md-4" for="xsurveyor">Surveyor ID </label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xsurveyor}"/>
																	<input type="text" class="form-control" th:value="*{xsurveyor}" disabled="disabled"/>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate">Date </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			required="required"
																			th:value="${survey.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(survey.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															</div>
															<div class="col-md-6">
															<!-- <div class="form-group">
																<label class="control-label col-md-4" for="xtype">Type: </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xtype}"/>
																</div>
															</div> -->
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note here.."></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Items</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>SL#</th>
														<th>Land ID</th>
														<th>Surveyor ID</th>
														<th>Date</th>
														<th>Note</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="as, c: ${allSurvey}">
														<td><a th:href="@{/landsurvey/} + ${as.xland} + '/' + ${as.xrow}" th:text="${c.count}"></a></td>
														<td><a th:href="@{/landinfo/} + ${as.xland}" target="_blank"  th:text="${as.xland}"></a></td>
														<td><a th:href="@{/landperson/} + ${as.xperson}" target="_blank" th:text="${as.xperson}"></a></td>
														<td th:text="${as.xdate}"></td>
														<td th:text="${as.xnote}"></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="educationmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
