<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{voucher.page.title}">Voucher Entry</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>
		
		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/account/voucher}">Voucher Entry</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center" th:text="#{voucher.page.heading}">Voucher Entry</h1>
						</div>

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div id="voucherform" th:fragment="voucherform">
										<div class="section-header sectionbartoggle"></div>
										<div class="form-action-button">
											<a th:href="@{/account/voucher}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
											<a th:if="${#strings.isEmpty(acheader.xvoucher)}" href="#" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
											<a th:if="${not #strings.isEmpty(acheader.xvoucher) and acheader.zactive == true and acheader.xstatusjv ne 'Posted'}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
											<a th:if="${not #strings.isEmpty(acheader.xvoucher) and acheader.zactive == true and acheader.xstatusjv ne 'Posted'}" th:href="@{/account/voucher/archive/} + ${acheader.xvoucher}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
											<a th:if="${not #strings.isEmpty(acheader.xvoucher) and acheader.zactive == true and acheader.xstatusjv eq 'Balanced'}" th:href="@{/account/voucher/posted/} + ${acheader.xvoucher}" class="btn btn-sm btn-primary archive-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;" th:text="#{button.value.xpost}"> Post</span></a>
											<a th:if="${not #strings.isEmpty(acheader.xvoucher) and acheader.zactive == true and acheader.xstatusjv eq 'Posted'}" th:href="@{/account/voucher/unposted/} + ${acheader.xvoucher}" class="btn btn-sm btn-primary archive-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;" th:text="#{button.value.xunpost}"> Un-Post</span></a>
											<a th:if="${not #strings.isEmpty(acheader.xvoucher)}" th:href="@{/account/voucher/print/} + ${acheader.xvoucher}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print</a>
										</div>
										<div class="section-body section-border">
											<form id="mainform" class="form-horizontal" th:action="@{/account/voucher/save}" th:object="${acheader}" method="POST" th:with="df=${'E, dd-MMM-yyyy'}">
												<input type="hidden" th:field="*{xtypetrn}"/>
												<input type="hidden" th:field="*{xwh}"/>
	
												<div class="row">
													<div class="col-md-6">
														<div class="form-group" th:if="${#strings.isEmpty(acheader.xvoucher)}">
															<label class="control-label col-md-4" for="xtrn" th:text="#{voucher.form.label.xtrn}">Code</label>
															<div class="col-md-4">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="prefix : ${voucherprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																</select>
															</div>
														</div>
	
														<div class="form-group" th:if="${not #strings.isEmpty(acheader.xvoucher)}">
															<label class="control-label col-md-4" for="xvoucher" th:text="#{voucher.form.label.xvoucher}">Voucher No.</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xvoucher}">
																<input type="text" class="form-control" th:value="*{xvoucher}" disabled="disabled">
															</div>
														</div>
	
														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate" th:text="#{voucher.form.label.xdate}">Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdate"
																		name="xdate"
																		th:value="${acheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(acheader.xdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>
	
														<div class="form-group">
															<label class="control-label col-md-4" for="xref" th:text="#{voucher.form.label.xref}">Reference</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xref}">
															</div>
														</div>
	
														<div class="form-group">
															<label class="control-label col-md-4" for="xlcno" th:text="#{voucher.form.label.xlcno}">LC No.</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xlcno}">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xchequeno" >Cheque No.</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xchequeno}">
															</div>
														</div>
	
														<div class="form-group">
															<label class="control-label col-md-4" for="xlong" th:text="#{voucher.form.label.xlong}">Note</label>
															<div class="col-md-8">
																<textarea class="form-control" rows="3" th:field="*{xlong}"></textarea>
															</div>
														</div>
	
													</div>
	
	
													<div class="col-md-6">
														<div class="form-group" th:if="${not #strings.isEmpty(acheader.xvoucher)}">
															<label class="control-label col-md-4" for="xstatusjv" th:teext="#{voucher.form.label.xstatusjv}">Status</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xstatusjv}">
																<input type="text" class="form-control" th:value="*{xstatusjv}" disabled="disabled">
															</div>
														</div>
	
														<div class="form-group" th:if="${not #strings.isEmpty(acheader.xvoucher)}">
															<label class="control-label col-md-4" for="xyear" th:text="#{voucher.form.label.xyear}">Year </label>
															<div class="col-md-8">
																<input type="number" class="form-control" th:value="*{xyear}" disabled="disabled">
															</div>
														</div>
	
														<div class="form-group" th:if="${not #strings.isEmpty(acheader.xvoucher)}">
															<label class="control-label col-md-4" for="xper" th:text="#{voucher.form.label.xper}">Period</label>
															<div class="col-md-8">
																<input type="number" class="form-control" th:value="*{xper}" disabled="disabled">
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<script type="text/javascript">
											$(document).ready(function(){
												ck.ui.config.editmode();
												ck.ui.config.dateAndTimepicker();
											})
										</script>
									</div>
								</section>
							</div>

							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Un-posted Voucher List</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap" th:with="df=${'E, dd-MMM-yyyy'}">
											<thead>
												<tr>
													<th th:text="#{voucher.table.heading.xvoucher}">Voucher No.</th>
													<th th:text="#{voucher.table.heading.xdate}">Date</th>
													<th th:text="#{voucher.table.heading.xlcno}">LC No.</th>
													<th th:text="#{voucher.table.heading.xyear}">Year</th>
													<th th:text="#{voucher.table.heading.xper}">Period</th>
													<th th:text="#{voucher.table.heading.xstatusjv}">Status</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${v.xstatusjv ne 'Posted'}" th:each="v : ${vouchers}">
													<td>
														<a th:href="@{/account/voucher/} + ${v.xvoucher}" th:text="${v.xvoucher}"></a>
													</td>
													<td th:text="${#dates.format(v.xdate, df)}"></td>
													<td th:text="${v.xlcno}"></td>
													<td th:text="${v.xyear}"></td>
													<td th:text="${v.xper}"></td>
													<td th:text="${v.xstatusjv}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
								
								
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Vouchers</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap" th:with="df=${'E, dd-MMM-yyyy'}">
											<thead>
												<tr>
													<th th:text="#{voucher.table.heading.xvoucher}">Voucher No.</th>
													<th th:text="#{voucher.table.heading.xdate}">Date</th>
													<th th:text="#{voucher.table.heading.xlcno}">LC No.</th>
													<th th:text="#{voucher.table.heading.xyear}">Year</th>
													<th th:text="#{voucher.table.heading.xper}">Period</th>
													<th th:text="#{voucher.table.heading.xstatusjv}">Status</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="v : ${vouchers}">
													<td>
														<a th:href="@{/account/voucher/} + ${v.xvoucher}" th:text="${v.xvoucher}"></a>
													</td>
													<td th:text="${#dates.format(v.xdate, df)}"></td>
													<td th:text="${v.xlcno}"></td>
													<td th:text="${v.xyear}"></td>
													<td th:text="${v.xper}"></td>
													<td th:text="${v.xstatusjv}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>

							<div class="col-md-12">
								<section th:if="${not #strings.isEmpty(acheader.xvoucher)}" id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1 th:text="'Voucher Details of ' + ${acheader.xvoucher}"></h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered normal-table nowrap" id="voucherdetailtable" th:fragment="voucherdetailtable">
											<thead>
												<tr>
													<th>SN.</th>
													<th>Account</th>
													<th>Sub Account</th>
													<th>Note</th>
													<th class="text-right">Debit</th>
													<th class="text-right">Credit</th>
													<th data-nosort="Y" style="text-align: right;" th:if="${acheader.xstatusjv != 'Posted'}">
														<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/account/voucher/} + ${acheader.xvoucher} + '/voucherdetail/new/show', data-target-modal='voucherdetailmodal'"><i class="fas fa-plus"></i></button>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="d,n : ${acdetails}">
													<td th:text="${d.xrow}"></td>
													<td>
														<a th:href="@{/account/coa/} + ${d.xacc}" target="_blank" th:text="${d.xacc} + ' - ' + ${d.accountname}"></a>
													</td>
													<td th:text="${#strings.isEmpty(d.xsub) ? '' : d.xsub + ' - ' + d.xorg}"></td>
													<td th:text="${d.xlong}"></td>
													<td class="text-right" th:text="${d.xdebit}"></td>
													<td class="text-right" th:text="${d.xcredit}"></td>
													<td data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${acheader.xstatusjv != 'Posted'}">
														<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/account/voucher/} + ${acheader.xvoucher} + '/voucherdetail/' + ${d.xrow} + '/show', data-target-modal='voucherdetailmodal'"><i class="fas fa-edit"></i></button>
														<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/account/voucher/} + ${acheader.xvoucher} + '/voucherdetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<th colspan="3" class="text-right">Total</th>
												<th></th>
												<th class="text-right" th:text="${totalDebit}">0</th>
												<th class="text-right" th:text="${totalCredit}">0</th>
												<th colspan="2"></th>
											</tfoot>
										</table>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="voucherdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>

	</body>
</html>
