<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{ds.page.title}">Direct Sales</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
<script type="text/javascript" th:src="@{/assets/js/pagenation/opdo.js}"></script>
<style type="text/css">
	.col-sort-arrow{
		margin-top: 2px;
		opacity: 0.25;
	}
	.col-sort-arrow-active{
		opacity: 1;
	}
	.sortable-row{
		cursor: pointer;
	}
</style>
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>

	<!-- Menu section -->
	<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}"
		class="menuv2" th:include="commons :: main-menu"></div>

	<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}"
		class="navbar-inverse menu-section">
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="row">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#myNavbar">
									<span class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="myNavbar">
								<div class="nav navbar-nav">
									<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
									<li class="active"><a
										th:href="@{/salesninvoice/directsales}"> Direct Sales</a></li>
								</div>
								<ul class="nav navbar-nav navbar-right"
									th:include="ckbigmenu :: dashboard-menu"></ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>

	<!-- Content section -->
	<div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 content-area">
					<div class="row">
						<h1 class="text-center" th:text="#{ds.page.heading}">Direct Sales</h1>
					</div>

					<div class="row">
						<div class="col-md-6">
							<!-- Section list head -->
							<section id="data-maintenance" style="margin-top: 30px;">
								<div class="section-header sectionbartoggle"></div>
								<div class="form-action-button">
									<a th:href="@{/salesninvoice/directsales}"
										class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i>
										<span style="margin-left: 2px;"
										th:text="#{button.value.xclear}"> Clear</span></a> <a
										th:if="${#strings.isEmpty(opdoheader.xdornum)}"
										th:href="@{/salesninvoice/directsales}"
										class="btn btn-sm btn-success confirm-btn"><i
										class="fas fa-save"></i> <span style="margin-left: 2px;"
										th:text="#{button.value.xsave}"> Save</span></a> <a
										th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord eq 'Open'}"
										href="#" class="btn btn-sm btn-success update-btn"><i
										class="fas fa-edit"></i> <span style="margin-left: 2px;"
										th:text="#{button.value.xupdate}"> Update</span></a> <a
										th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord eq 'Open'}"
										th:href="@{/salesninvoice/directsales/archive/} + ${opdoheader.xdornum}"
										class="btn btn-sm btn-danger archive-btn-link"><i
										class="fas fa-trash-alt"></i> <span style="margin-left: 2px;"
										th:text="#{button.value.xdelete}"> Delete</span></a> <a
										th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord eq 'Open'}"
										th:href="@{/salesninvoice/directsales/confirminvoice/} + ${opdoheader.xdornum}"
										class="btn btn-sm btn-warning confirm-btn-link"><i
										class="fas fa-clipboard-check"></i> <span
										style="margin-left: 2px;" th:text="#{button.value.xconfirm}">
											Confirm</span></a>
									<!--<a th:if="${not #strings.isEmpty(opdoheader.xdornum)}" th:href="@{/salesninvoice/directsales/print/delivery/} + ${opdoheader.xdornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-truck"></i> Print Invoice</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum)}" th:href="@{/salesninvoice/directsales/print/invoice/} + ${opdoheader.xdornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-file-invoice-dollar"></i> Print Chalan</a>
										-->
									<a th:if="${not #strings.isEmpty(opdoheader.xdornum)}"
										th:href="@{/salesninvoice/directsales/print/} + ${opdoheader.xdornum}"
										class="btn btn-sm btn-primary print-btn-link" target="_blank"><i
										class="fas fa-print"></i> <span style="margin-left: 2px;"
										th:text="#{button.value.xprint}"> Print</span></a>
								</div>
								<div class="section-body section-border">
									<div id="opdoheaderform" th:fragment="opdoheaderform">
										<form id="mainform" class="form-horizontal"
											th:action="@{/salesninvoice/directsales/save}"
											th:object="${opdoheader}" method="post"
											th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" class="form-control"
												th:field="*{xtypetrn}" /> <input type="hidden"
												th:field="*{prevqty}" /> <input type="hidden"
												th:field="*{prevrate}" /> <input type="hidden"
												th:field="*{forupdate}" />

											<div class="row">
												<div class="col-md-6">

													<div class="form-group"
														th:if="${#strings.isEmpty(opdoheader.xdornum)}">
														<label class="control-label col-md-4" for="xtrn"
															th:text="#{ds.form.label.xtrn}">Prefix</label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrn}">
																<option th:each="prefix : ${opdoprefix}"
																	th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>

													<div class="form-group"
														th:if="${not #strings.isEmpty(opdoheader.xdornum)}">
														<label class="control-label col-md-4" for="xdornum"
															th:text="#{ds.form.label.xdornum}">DO Number</label>
														<div class="col-md-8">
															<input type="hidden" class="form-control"
																th:field="*{xdornum}"> <input type="text"
																class="form-control" th:value="*{xdornum}"
																disabled="disabled">
														</div>
													</div>

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate"
															th:text="#{ds.form.label.xdate}">Invoice Date</label>
														<div class="input-group date col-md-7 datepicker">
															<input type="datepicker" class="form-control" id="xdate"
																name="xdate"
																th:value="${opdoheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdate, df)}" />
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xcus"
															th:text="#{ds.form.label.xcus}">Customer</label>
														<div class="col-sm-8">
															<input type="text" class="form-control searchsuggest"
																placeholder="Search..."
																th:value="${#strings.isEmpty(opdoheader.xcus) ? '' : opdoheader.xcus + ' - ' + opdoheader.xorg}"
																th:attr="search-url='search/customer'" /> <input
																type="hidden" class="required" id="search-val"
																th:field="*{xcus}" value="" /> <input type="hidden"
																id="search-des" th:value="*{xcus}" />
														</div>
													</div>

													<!--<div class="form-group" th:if="${isBoshila}">
														<label class="control-label col-md-4" for="xland">Land</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${opdoheader.xland}" 
																	th:attr="search-url='search/landId'"/>
															<input type="hidden" id="search-val" th:field="*{xland}"/>
															<input type="hidden" id="search-des" th:value="*{xland}"/>
														</div>
													</div>-->

													<!--<div class="form-group">
														<label class="control-label col-md-4" for="xwh"
															th:text="#{ds.form.label.xwh}">Store</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}"
																	th:value="${wh.xcode}"
																	th:text="${wh.xcode}+' - '+${wh.xlong}"></option>
															</select>
														</div>
													</div>-->
													
													<div class="form-group">
															<label class="control-label col-md-4" for="xhwh">Project/Business</label>
															<div class="col-sm-8">
																<input 	type="text" 
																	class="form-control searchsuggest xhwhsearch" 
																	placeholder="Search..." 
																	th:value="${#strings.isEmpty(opdoheader.xhwh) ? '' : opdoheader.xhwh + '-' + opdoheader.projectName}" 
																	th:attr="search-url='search/allproject'"
																	/>
																<input type="hidden" class="required" id="search-val" th:field="*{xhwh}" value=""/>
																<input type="hidden" id="search-des" th:value="*{xhwh}"/>
															</div>
														</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xwh" >Store/Site</label>
																<div class="col-sm-8">
																	<select th:field="*{xwh}" class="form-control">
																		<option value="">-- Select --</option>
																		<option th:each="s : ${allcodes}" th:value="${s.xcode}" th:text="${s.xcode + ' - ' + s.xcodename}"></option>
																	</select>
																</div>
															</div>

													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xperson">Sales Person : </label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xperson}">
															</div>
														</div> -->

													<div class="form-group">
														<label class="control-label col-md-4" for="xpaymenttype"
															th:text="#{ds.form.label.xpaymenttype}">Payment
															Type</label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:value="Other"
																disabled="disabled">
															<!-- <select class="form-control" th:field="*{xpaymenttype}">
																	<option value="Cash">Cash</option>
																	<option value="Other">Other</option>
																</select> -->
														</div>
													</div>

													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xstatusjv">JV Status : </label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xstatusjv}" disabled="disabled">
																<select class="form-control" th:field="*{xstatusjv}">
																	<option th:each="jv : ${jvstatusList}" th:value="${jv.xcode}" th:text="${jv.xcode}"></option>
																</select>
															</div>
														</div> -->

													<div class="form-group">
														<label class="control-label col-md-4" for="xstatusord"
															th:text="#{ds.form.label.xstatusord}">DO Status</label>
														<div class="col-md-8">
															<input type="hidden" class="form-control"
																th:field="*{xstatusord}"> <input type="text"
																class="form-control" th:value="*{xstatusord}"
																disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xvoucher"
															th:text="#{ds.form.label.xvoucher}">Voucher :</label>
														<div class="col-md-8">
															<input type="text" class="form-control"
																th:field="*{xvoucher}" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xref"
															th:text="#{ds.form.label.xref}">Ref</label>
														<div class="col-md-8">
															<input type="text" class="form-control"
																th:field="*{xref}">
														</div>
													</div>

													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xpaystatus">Pay Status</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xpaystatus}">
																	<option th:each="s : ${payStatusList}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
																</select>
															</div>
														</div> -->



													<!-- <div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdatecom">Completion Date</label>
															<div class="input-group date col-md-6 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdatecom"
																		name="xdatecom"
																		th:value="${opdoheader.xdatecom == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdatecom, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdatedue">Date Due</label>
															<div class="input-group date col-md-6 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdatedue"
																		name="xdatedue"
																		th:value="${opdoheader.xdatedue == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdatedue, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div> -->

													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xvoucher">Voucher No.</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xvoucher}"/>
																<input type="text" class="form-control" th:value="*{xvoucher}" disabled="disabled">
															</div>
														</div> -->

												</div>
												<div class="col-md-6">
													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xcur">Currency</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xcur}">
																	<option th:each="c : ${currencyList}" th:text="${c.xcode}" th:value="${c.xcode}"></option>
																</select>
															</div>
														</div> -->

													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xexch">Exchange Rate: </label>
															<div class="col-md-8">
																<input type="text"  class="form-control" th:field="*{xexch}">
															</div>
														</div> -->

													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xordernum">Sales Order</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xordernum}">
																<input type="text" class="form-control" th:value="*{xordernum}" disabled="disabled">
															</div>
														</div> -->

													<div class="form-group">
														<label class="control-label col-md-4" for="xtotamt"
															th:text="#{ds.form.label.xtotamt}">Total Amount</label>
														<div class="col-md-6">
															<input type="hidden" class="form-control xtotamt"
																th:field="*{xtotamt}"> <input type="text"
																class="form-control xtotamt" th:value="*{xtotamt}"
																disabled="disabled">
														</div>
													</div>



													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xvatait">Vat Tax ID</label>
															<div class="col-md-8">
																<select class="form-control vatait-select" th:field="*{xvatait}">
																	<option th:each="s : ${vataitList}" th:text="${s.xvatait}" th:value="${s.xvatait}"></option>
																</select>
															</div>
														</div> -->

													<div class="form-group">
														<label class="control-label col-md-4" for="xvatamt"
															th:text="#{ds.form.label.xvatamt}">Vat Amount</label>
														<div class="col-md-6">
															<input type="hidden" class="form-control xvatamt"
																th:field="*{xvatamt}" /> <input type="text"
																class="form-control xvatamt" th:value="*{xvatamt}"
																disabled="disabled">
														</div>
													</div>

													<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xait">Tax Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xait}"/>
																<input type="text" class="form-control" th:value="*{xait}" disabled="disabled"/>
															</div>
														</div> -->

													<div class="form-group">
														<label class="control-label col-md-4" for="xdiscamt"
															th:text="#{ds.form.label.xdiscamt}">Discount
															Amount</label>
														<div class="col-md-6">
															<input type="text" class="form-control xdiscamt"
																th:field="*{xdiscamt}" min="0">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xgrandtot"
															th:text="#{ds.form.label.xgrandtot}">Grand Amount</label>
														<div class="col-md-6">
															<input type="hidden" class="form-control xgrandtot"
																th:field="*{xgrandtot}"> <input type="text"
																class="form-control xgrandtot" th:value="*{xgrandtot}"
																disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xpaid"
															th:text="#{ds.form.label.xpaid}">Paid Amount</label>
														<div class="col-md-6">
															<input type="text" class="form-control xpaid"
																th:field="*{xpaid}">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xchange"
															th:text="#{ds.form.label.xchange}">Change Amount</label>
														<div class="col-md-6">
															<input type="hidden" class="form-control xchange"
																th:field="*{xchange}"> <input type="text"
																class="form-control xchange" th:value="*{xchange}"
																disabled="disabled">
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xnote"
																th:text="#{ds.form.label.xnote}">Note</label>
															<div class="col-md-8">
																<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
															</div>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</div>
							</section>
						</div>

						<div class="col-md-6">
								<div class="section-header sectionbartoggle">
									<h1>Direct Sales List</h1>
								</div>
								
						<div class="row">
							 <div class="section-body">
								<div style="overflow-x: scroll;">
								<table class="table table-striped table-bordered datatable nowrap">
									<thead>
										<tr>
											<th th:text="#{ds.table.heading.xdornum}">DO Number</th>
											<th th:text="#{ds.table.heading.xdate}">Date</th>
											<th th:text="#{ds.table.heading.xcus}">Customer</th>
											<th th:text="#{ds.table.heading.xtotamt}">Total Amount</th>
											<th th:text="#{ds.table.heading.xstatusord}">Status</th>
										</tr>
									</thead>
									<tbody th:with="df=${'E, dd-MMM-yyyy'}">
										<tr th:each="opdo : ${allOpdoHeader}">
											<td>
												<a th:href="@{/salesninvoice/directsales/} + ${opdo.xdornum}" th:text="${opdo.xdornum}"></a>
											</td>
											<td  th:text="${#dates.format(opdo.xdate, df)}"></td>
											<td th:text="${#strings.isEmpty(opdo.xcus) ? '' : opdo.xcus + ' - ' + opdo.xorg}"></td>
											<td th:text="${opdo.xtotamt}"></td>
											<td th:text="${opdo.xstatusord}"></td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
						

					</div>
				</div>

			</div>

			<div class="col-md-12">
				<section th:if="${not #strings.isEmpty(opdoheader.xdornum)}" id="data-maintenance" style="margin-top: 30px;">
					<a id="listlines-url" th:href="@{/salesninvoice/directsales/opdodetail/} + ${opdoheader.xdornum}"></a>
					<div class="section-header sectionbartoggle">
						<h1>
							Item Details of <span th:text="${opdoheader.xdornum}"></span>
						</h1>
					</div>
					<div class="section-body">
						<table
							class="table table-striped table-bordered normal-table nowrap" id="opdodetailtable" th:fragment="opdodetailtable">
							<thead>
								<tr>
									<th th:text="#{ds.modal.table.heading.xrow}">Row</th>
									<th th:text="#{ds.modal.table.heading.xitem}">Item Code</th>
									<th th:text="#{ds.modal.table.heading.xunitpur}">Unit</th>
									<th th:text="#{ds.modal.table.heading.xqtygrn}" class="text-right">Qty</th>
									<th th:text="#{ds.modal.table.heading.xrate}" class="text-right">Rate</th>
									<th th:text="#{ds.modal.table.heading.xlineamt}" class="text-right">Line Amount</th>
									<th th:text="#{ds.modal.table.heading.xvatamt}" class="text-right">Vat</th>
									<th>CF(Selling)</th>
									<th th:text="#{ds.modal.table.heading.xnote}">Note</th>
									<th th:if="${opdoheader.xstatusord != 'Confirmed'}" data-nosort="Y" style="text-align: right;">
										<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/salesninvoice/directsales/} + ${opdoheader.xdornum} + '/opdodetail/new/show', data-target-modal='opdodetailmodal'"><i class="fas fa-plus"></i></button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="d : ${opdoDetailsList}">
									<td th:text="${d.xrow}"></td>
									<td><a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} +' - '+ ${d.xdesc}"></a></td>
									<td th:text="${d.xunitsel}"></td>
									<td class="text-right" th:text="${d.xqtyord}"></td>
									<td class="text-right" th:text="${d.xrate}"></td>
									<td class="text-right" th:text="${d.xlineamt}"></td>
									<td class="text-right" th:text="${d.xvatamt}"></td>
									<td th:text="${d.xcfsel}" class="text-right"></td>
									<td th:text="${d.xlong}"></td>
									<td th:if="${opdoheader.xstatusord != 'Confirmed'}" data-nosort="Y" style="text-align: right; font-size: 11px;">
										<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/salesninvoice/directsales/} + ${opdoheader.xdornum} + '/opdodetail/' + ${d.xrow} + '/show', data-target-modal='opdodetailmodal'"><i class="fas fa-edit"></i></button>
										<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/salesninvoice/directsales/} + ${opdoheader.xdornum} + '/opdodetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<th colspan="5" class="text-right">Total</th>
								<th class="text-right" th:text="${totalLineAmount}">0</th>
								<th class="text-right" th:text="${totalVat}">0</th>
							</tfoot>
						</table>
					</div>
				</section>
			</div>

			<div class="col-md-12">
				<section th:if="${not #strings.isEmpty(opdoheader.xvoucher)}"
					id="data-maintenance" style="margin-top: 30px;">
					<div class="section-header sectionbartoggle">
						<h1 th:text="'Voucher Details of ' + ${opdoheader.xvoucher}"></h1>
					</div>
					<div class="section-body">
						<table
							class="table table-striped table-bordered normal-table nowrap"
							id="voucherdetailtable" th:fragment="voucherdetailtable">
							<thead>
								<tr>
									<th th:text="#{ds.table1.heading.xrow}">SN.</th>
									<th th:text="#{ds.table1.heading.xacc}">Account</th>
									<th th:text="#{ds.table1.heading.xsub}">Sub Account</th>
									<th th:text="#{ds.table1.heading.xlong}">Note</th>
									<th th:text="#{ds.table1.heading.xdebit}" class="text-right">Debit</th>
									<th th:text="#{ds.table1.heading.xcredit}" class="text-right">Credit</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="d,n : ${acdetails}">
									<td th:text="${d.xrow}"></td>
									<td><a th:href="@{/account/coa/} + ${d.xacc}"
										target="_blank" th:text="${d.xacc} + ' - ' + ${d.accountname}"></a>
									</td>
									<td
										th:text="${#strings.isEmpty(d.xsub) ? '' : d.xsub + ' - ' + d.xorg}"></td>
									<td th:text="${d.xlong}"></td>
									<td class="text-right" th:text="${d.xdebit}"></td>
									<td class="text-right" th:text="${d.xcredit}"></td>
								</tr>
							</tbody>
							<tfoot>
								<th colspan="4" class="text-right">Total</th>
								<th class="text-right" th:text="${totalDebit}">0</th>
								<th class="text-right" th:text="${totalCredit}">0</th>
							</tfoot>
						</table>
					</div>
				</section>
			</div>

		</div>
	</div>
	</div>

	<!-- Modal -->
	<div id="opdodetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>

<!-- <script>
		$(document).ready(function(){
			$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						var aitPercent = parseFloat(data.xait);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;
						var xgrandtot = parseFloat($("input[name='xgrandtot']").val());
						
						var net1 = (xtotamt+xvatamt)-xdiscamt;
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						$('input[name="xaitamt"]').val(aitAmount);
						$('input.xaitamt-show').val(aitAmount);
						
						$('input[name="xgrandtot"]').val(net1);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			
			
		});
	</script> -->

	<script>
		$(document).ready(function() {
			$("input[name='xtotamt'], input[name='xvatamt'],  input[name='xdiscamt'], input[name='xgrandtot'], input[name='xpaid'], input[name='xchange']")
				.off('blur').on(
						'blur',
						function(e) {
							if ($(this).val() == ''
									|| isNaN($(this).val())) {
								$(this).val(0);
							}
							calculate();
						});
	
			function calculate() {
				var xtotamt = parseFloat($("input[name='xtotamt']")
						.val());
				var xvatamt = parseFloat($("input[name='xvatamt']")
						.val());
				var xdiscamt = parseFloat($(
						"input[name='xdiscamt']").val());
				var xgrandtot = parseFloat($(
						"input[name='xgrandtot']").val());
				var xpaid = parseFloat($("input[name='xpaid']")
						.val());
				var xchange = parseFloat($("input[name='xchange']")
						.val());
	
				var grandTotal = (xtotamt + xvatamt) - xdiscamt;
				var change = grandTotal - xpaid;
	
				$('input.xgrandtot').val(grandTotal);
				$('input.xchange').val(change);
				if ($('.xgrandtot').val() == ''
						|| isNaN($('.xgrandtot').val())) {
					$('.xgrandtot').val('0');
				}
				if ($('.xchange').val() == ''
						|| isNaN($('.xchange').val())) {
					$('.xchange').val('0');
				}
			}
	
			calculate();
		});
	</script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			// Init ui for modal
			ck.ui.config.buttonevent();

			$('.xhwhsearch').on('blur', function(){
				setTimeout(() => {
					if($('input[name="xhwh"]').val() == ''){
						$("#xwh option").remove(); 
						var mySelect = $('#xwh');
						mySelect.append(
							$('<option></option>').val("").html("-- Select --")
						);
						return;
					}

					loadingMask2.show();
					$.ajax({
						url : getBasepath() + '/salesninvoice/directsales/allcodesbyproject/' + $('input[name="xhwh"]').val(),
						type : 'GET',
						success : function(data) {
							loadingMask2.hide();
							if(data == undefined || data == null) return;

							$("#xwh option").remove(); 
							var mySelect = $('#xwh');
							mySelect.append(
								$('<option></option>').val("").html("-- Select --")
							);
							$.each(data, function(val, obj) {
								mySelect.append(
									$('<option></option>').val(obj.xcode).html(obj.xcode + ' - ' + obj.xcodename)
								);
							});

						},
						error : function(jqXHR, status, errorThrown){
							showMessage(status, "Something went wrong .... ");
							loadingMask2.hide();
						}
					})
				}, 1000);
			});
		});
	</script>
	
</html>