<!-- Modal -->
<div id="deliveryorderdetailmodal" th:fragment="deliveryorderdetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Sales Order Items</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-bordered modal-datatable nowrap" id="salesorderdetailtable" width="100%">
							<thead>
								<tr>
									<th>Row</th>
									<th>Item Code</th>
									<th>Category</th>
									<th>Group</th>
									<th>Qty</th>
									<th>Unit</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="d : ${opdodetailsList}">
									<td th:text="${d.xrow}"></td>
									<td>
										<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.xdesc}"></a>
									</td>
									<td th:text="${d.xcatitem}"></td>
									<td th:text="${d.xgitem}"></td>
									<td th:text="${d.xqtyord}"></td>
									<td th:text="${d.xunitsel}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>

		<!-- ck ui -->
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				modalDataTableInit();
			})
		</script>
	</div>
</div>