<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Purchase Order</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/inventory}">Inventory</a></li>
										<li class="active"><a th:href="@{/inventory/imtrn}">Inv</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Order</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/inventory/imtrn}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> New</a>
										<a th:if="${#strings.isEmpty(imtrn.ximtrnnum)}" th:href="@{/inventory/imtrn}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(imtrn.ximtrnnum) and imtrn.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(imtrn.ximtrnnum) and imtrn.zactive == true}" th:href="@{/inventory/imtrn/archive/} + ${imtrn.ximtrnnum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(imtrn.ximtrnnum) and imtrn.zactive == false}" th:href="@{/inventory/imtrn/restore/} + ${imtrn.ximtrnnum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
										<!-- Form Pagination -->
										<!-- <a th:href="@{/mastersetup/xcodes/paging/jump/top}" class="btn btn-sm btn-warning"><i class="fas fa-angle-double-up"></i> Top</a>
										<a th:href="@{/formpaging/step/prev/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info"><i class="fas fa-angle-double-left"></i> Previous</a>
										<a th:href="@{/formpaging/step/next/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info">Next <i class="fas fa-angle-double-right"></i></a>
										<a th:href="@{/mastersetup/xcodes/paging/jump/bottom}" class="btn btn-sm btn-warning">Bottom <i class="fas fa-angle-double-down"></i></a> -->
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/inventory/imtrn/save}" th:object="${imtrn}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyId)}" id="copyId" name= "copyId"/>  -->
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(poordheader.xpornum)}" th:field="*{xpornum}"/> -->
											<input type="hidden" th:field="*{xtype}"/>
											<input type="hidden" th:if="${not #strings.isEmpty(imtrn.ximtrnnum)}" class="form-control" th:field="*{ximtrnnum}">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group" th:if="${#strings.isEmpty(imtrn.ximtrnnum)}">
														<label class="control-label col-md-4" for="ximtrnnum">Inv. Prefix : </label>
														<div class="col-md-5">
															<select class="form-control" th:field="*{ximtrnnum}">
																<option th:each="prefix : ${imtrnprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Date : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${imtrn.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(imtrn.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xwh">Warehouse : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xitem">Item Code : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xitem}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xqty">Quantity : </label>
														<div class="col-md-4">
															<input type="number" class="form-control" th:field="*{xqty}" min="0">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xrate">Rate : </label>
														<div class="col-md-4">
															<input type="number" class="form-control" th:field="*{xrate}" min="0">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xsign">Inv. Sign : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xsign}">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4" for="xref">Ref : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xref}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xdocnum">Doc : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xdocnum}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xval">Value : </label>
														<div class="col-md-4">
															<input type="text" class="form-control" th:field="*{xval}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xdocrow">Delivery Chalan Row : </label>
														<div class="col-md-5">
															<input type="number" class="form-control" th:field="*{xdocrow}" min="1">
														</div>
													</div>
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xstatusjv">Journal Voucher Status : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xstatusjv}">
														</div>
													</div> -->
													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" placeholder="Note" th:field="*{xnote}"></textarea>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							
							
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Inv Items</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Inv. Number</th>
													<th>Date</th>
													<th>Qty</th>
													<th>Rate</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="imtrn : ${allImtrn}">
													<td>
														<a th:href="@{/inventory/imtrn/} + ${imtrn.ximtrnnum}" th:text="${imtrn.ximtrnnum}"></a>
													</td>
													<td  th:text="${#dates.format(imtrn.xdate, df)}"></td>
													<td th:text="${imtrn.xqty}"></td>
													<td th:text="${imtrn.xrate}"></td>
													<td th:text="${imtrn.xstatus}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
