<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>General Accounts</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li class="active"><a th:href="@{/account}">General Accounts</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<!-- Section data maintenance -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>General Accounts</h1>
							</div>
							<div class="section-body">
								<table class="table dashboard-menu-table">
									<tr>
										<td colspan="2">General Accounts</td>
									</tr>
									<tr>
										<td><a th:href="@{/account/chartaccount}">Chart of Account</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a th:href="@{/accgroup}">Account Group</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a th:href="@{/account/banknameentry}">Bank Name Entry</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a th:href="@{/account/accdefault}">Account Default</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"><i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a href="#">Year End Processing</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a href="#">Inventory Consumption</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a th:href="@{/account/voucher}">Voucher Entry</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a th:href="@{/account/voucherdetails}">Voucher Details</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
									<tr>
										<td><a th:href="@{/account/accounthierarchy}">Account Hierarchy</a></td>
										<td>
											<a class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
										</td>
									</tr>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
