<!-- Modal -->
<div id="opreqdetailmodal" th:fragment="opreqdetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/salesninvoice/opreq/opreqdetail/save}" method="post" class="form-horizontal" th:object="${opreqdetail}">
						<input type="hidden" th:field="*{xdoreqnum}"/>
						<input type="hidden" th:field="*{xrow}"/>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xitem" th:text="#{sr.modal.form.lebel.xitem}">Item</label>
								<div class="col-sm-8">
									<input 	type="text" 
											class="form-control searchsuggest xitemsearch" 
											placeholder="Search..." 
											th:value="${#strings.isEmpty(opreqdetail.xitem) ? '' : opreqdetail.xitem + ' - ' + opreqdetail.xdesc}" 
											th:attr="search-url='search/caitem'"/>
									<input type="hidden" id="search-val" th:field="*{xitem}" class="search-xitem"/>
									<input type="hidden" id="search-des" th:value="*{xitem}"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xunitsel">Selling Unit</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xunitsel}"/>
									<input type="text" th:value="${opreqdetail.xunitsel}" class="form-control xunitsel-display" disabled="disabled"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xqtyord" th:text="#{sr.modal.form.lebel.xqty}">Qty.</label>
								<div class="col-sm-8">
									<input type="text"  class="form-control qty" th:field="*{xqtyord}" min="1"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xrate" th:text="#{sr.modal.form.lebel.xrate}">Rate</label>
								<div class="col-sm-8">
									<!-- <input type="text"  class="form-control" th:field="*{xrate}" min="0"/> -->
									<input type="text"  th:field="*{xrate}" class="form-control" min="0"/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xlineamt">Line Amount</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xlineamt}"> 
									<input type="text" class="form-control xlineamt" th:value="*{xlineamt}" disabled="disabled"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xcfsel">Conv. Factor (Selling)</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xcfsel}"/>
									<input type="text" th:value="${opreqdetail.xcfsel}" class="form-control xcfsel-display" disabled="disabled"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xnote" th:text="#{sr.modal.form.lebel.xnote}">Note</label>
								<div class="col-sm-8">
									<textarea rows="3" cols="" class="form-control" th:field="*{xnote}"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();

				$('#xqtyord').on('blur', function(e){
					e.preventDefault();
					calculateRateAmount();
				})
	
				$('#xrate').on('blur', function(e){
					e.preventDefault();
					calculateRateAmount();
				})
			
				function calculateRateAmount(){
					var qty = $('#xqtyord').val();
					var rate = $('#xrate').val();
					$('.xlineamt').val(qty * rate);
					$('#xlineamt').val(qty * rate);
				}

				$('.xitemsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xitem"]').val() == ''){
							$('input[name="xunitsel"]').val("");
							$('input.xunitsel-display').val("");

							$('input[name="xcfsel"]').val("");
							$('input.xcfsel-display').val("");

							$('input[name="xrate"]').val("");

							$(".qty").val('1');
							$('.xlineamt').val('0');
							$('#xlineamt').val('0');
							return;
						}

						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/salesninvoice/opreq/itemdetail/' + $('input[name="xitem"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								console.log({data});
								$('input[name="xunitsel"]').val(data.xunitsel);
								$('input.xunitsel-display').val(data.xunitsel);

								$('input[name="xcfsel"]').val(data.xcfsel);
								$('input.xcfsel-display').val(data.xcfsel);

								$('input[name="xrate"]').val(data.xdealerp);

								$('.xlineamt').val($(".qty").val() * data.xdealerp);
								$('#xlineamt').val($(".qty").val() * data.xdealerp);
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});
	
			});
		</script>
	</div>
</div>