<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Dashboard</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li class="active"><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<!-- Section data maintenance -->
						<section id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
							</div>
							<div class="section-body" th:fragment="mainmenu">
								<table class="table dashboard-menu-table">
									<!-- MASTER SETUP -->
									<span th:if="${menuProfile.M0200 ne null and menuProfile.M0200.display}">
										<tr>
											<td colspan="2" th:text="${menuProfile.M0200.screenprompt}">Master Setup</td>
										</tr>
										<tr th:if="${isCentral and menuProfile.M0205 ne null and menuProfile.M0205.display}">
											<td><a th:href="@{/mastersetup/cacus?cacusType=SUP}" th:text="${menuProfile.M0205.screenprompt}">Supplier Master</a></td>
											<td>
												<a th:href="@{/mastersetup/cacus?cacusType=SUP}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr th:if="${isCentral and menuProfile.M0206 ne null and menuProfile.M0206.display}">
											<td><a th:href="@{/mastersetup/cacus?cacusType=CUS}" th:text="${menuProfile.M0206.screenprompt}">Customer Master</a></td>
											<td>
												<a th:href="@{/mastersetup/cacus?cacusType=CUS}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr th:if="${(isCentral and menuProfile.M0202 ne null and menuProfile.M0202.display) OR (isTcc and menuProfile.M0202 ne null and menuProfile.M0202.display)}">
											<td><a th:href="@{/mastersetup/caitem}" th:text="${menuProfile.M0202.screenprompt}">Item Master</a></td>
											<td>
												<a th:href="@{/mastersetup/caitem}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr th:if="${menuProfile.M0203 ne null and menuProfile.M0203.display}">
											<td><a th:href="@{/mastersetup/cap}" th:text="${menuProfile.M0203.screenprompt}">Code & Parameters</a></td>
											<td>
												<a th:href="@{/mastersetup/cap}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
									</span>

									<!-- REQUISITIONS -->
									<span>
										<span th:if="${menuProfile.M0300 ne null and menuProfile.M0300.display}">
											<tr>
												<td colspan="2">Requisition</td>
											</tr>
											<tr th:if="${isCentral and menuProfile.M0301 ne null and menuProfile.M0301.display}">
												<td><a th:href="@{/purchasing/bqls}" th:text="${menuProfile.M0301.screenprompt}">Requisitions List (From Branch)</a></td>
												<td>
													<a th:href="@{/purchasing/bqls}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isCentral and menuProfile.M0302 ne null and menuProfile.M0302.display}">
												<td><a th:href="@{/purchasing/bqls/details}" th:text="${menuProfile.M0302.screenprompt}">Requisitions Matrix (From Branch)</a></td>
												<td>
													<a th:href="@{/purchasing/bqls/details}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isCentral and menuProfile.M0303 ne null and menuProfile.M0303.display}">
												<td><a th:href="@{/purchasing/bqls/allopenreq}" th:text="${menuProfile.M0303.screenprompt}">Open Requisitions (From Branch)</a></td>
												<td>
													<a th:href="@{/purchasing/bqls/allopenreq}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isBranch and menuProfile.M0311 ne null and menuProfile.M0311.display}">
												<td><a th:href="@{/procurement/requisition}" th:text="${menuProfile.M0311.screenprompt}">Order Requisition</a></td>
												<td>
													<a th:href="@{/procurement/requisition}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isBranch and menuProfile.M0311 ne null and menuProfile.M0311.display}">
												<td><a th:href="@{/procurement/requisition?reqtype=Packaging Item}">Order Requisition (Packaging Item)</a></td>
												<td>
													<a th:href="@{/procurement/requisition?reqtype=Packaging Item}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isBranch and menuProfile.M0313 ne null and menuProfile.M0313.display}">
												<td><a th:href="@{/procurement/requisition/allrequisition}" th:text="${menuProfile.M0313.screenprompt}">All Order Requisition</a></td>
												<td>
													<a th:href="@{/procurement/requisition/allrequisition}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
										</span>
									</span>

									<!-- PROCUREMENTS -->
									<span>
										<span th:if="${isCentral and menuProfile.M0300 ne null and menuProfile.M0300.display}">
											<tr>
												<td colspan="2" th:text="${menuProfile.M0300.screenprompt}">Procurements</td>
											</tr>
											<!-- <tr th:if="${menuProfile.M0300 ne null and menuProfile.M0300.display}">
												<td><a th:href="@{/purchasing}" th:text="${menuProfile.M0300.screenprompt}">Procurements</a></td>
												<td>
													<a th:href="@{/purchasing}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr> -->
											<tr th:if="${isCentral and menuProfile.M0304 ne null and menuProfile.M0304.display}">
												<td><a th:href="@{/purchasing/poord}" th:text="${menuProfile.M0304.screenprompt}">Purchase Order</a></td>
												<td>
													<a th:href="@{/purchasing/poord}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isCentral and menuProfile.M0304 ne null and menuProfile.M0304.display}">
												<td><a th:href="@{/procurement/potogrn}">PO to GRN</a></td>
												<td>
													<a th:href="@{/procurement/potogrn}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isCentral and menuProfile.M0306 ne null and menuProfile.M0306.display}">
												<td><a th:href="@{/purchasing/pogrn}" th:text="${menuProfile.M0306.screenprompt}">GRN</a></td>
												<td>
													<a th:href="@{/purchasing/pogrn}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${isCentral and menuProfile.M0310 ne null and menuProfile.M0310.display}">
												<td><a th:href="@{/procurement/grnreturn}" th:text="${menuProfile.M0310.screenprompt}">GRN Return</a></td>
												<td>
													<a th:href="@{/procurement/grnreturn}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
										</span>
									</span>

									<!-- SALES AND INVOICING -->
									<span>
										<span th:if="${(isTcc and menuProfile.M0400 ne null and menuProfile.M0400.display) OR (isCentral and menuProfile.M0400 ne null and menuProfile.M0400.display)}">
											<tr>
												<td colspan="2" th:text="${menuProfile.M0400.screenprompt}">Sales & Invoicing</td>
											</tr>
											<tr th:if="${menuProfile.M0401 ne null and menuProfile.M0401.display}">
												<td><a th:href="@{/salesninvoice/opord}">Sales Order</a></td>
												<td>
													<a th:href="@{/salesninvoice/opord}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0402 ne null and menuProfile.M0402.display}">
												<td><a th:href="@{/salesninvoice/salesorder/allopensalesorder}">Open Sales Orders</a></td>
												<td>
													<a th:href="@{/salesninvoice/salesorder/allopensalesorder}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0403 ne null and menuProfile.M0403.display}">
												<td><a th:href="@{/salesninvoice/salesorder/detailmatrix}">Sales Orders Matrix</a></td>
												<td>
													<a th:href="@{/salesninvoice/salesorder/detailmatrix}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0404 ne null and menuProfile.M0404.display}">
												<td><a th:href="@{/salesninvoice/salesorderchalan}">Production Chalan</a></td>
												<td>
													<a th:href="@{/salesninvoice/salesorderchalan}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0405 ne null and menuProfile.M0405.display}">
												<td><a th:href="@{/salesninvoice/salesandinvoice}">Invoice</a></td>
												<td>
													<a th:href="@{/salesninvoice/salesandinvoice}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<!-- <tr th:if="${menuProfile.M0406 ne null and menuProfile.M0406.display}">
												<td><a th:href="@{/salesninvoice/directsales}" th:text="${menuProfile.M0406.screenprompt}">Sales Invoice (Direct)</a></td>
												<td>
													<a th:href="@{/salesninvoice/directsales}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr> -->
											<tr th:if="${menuProfile.M0407 ne null and menuProfile.M0407.display}">
												<td><a th:href="@{/salesninvoice/deliveryorderchalan}">Delivery chalan</a></td>
												<td>
													<a th:href="@{/salesninvoice/deliveryorderchalan}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0409 ne null and menuProfile.M0409.display}">
												<td><a th:href="@{/salesninvoice/returnsales}" th:text="${menuProfile.M0409.screenprompt}">Sales Return</a></td>
												<td>
													<a th:href="@{/salesninvoice/returnsales}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
		
											<tr>
												<td colspan="2" style="padding-left: 20px !important;">Report</td>
											</tr>
											<tr>
												<td><a th:href="@{/salesninvoice/ddisr}" target="_blank">Daily Distribution Report</a></td>
												<td>
													<a th:href="@{/salesninvoice/ddisr}" target="_blank" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
										</span>
									</span>

									<!-- PRODUCTION -->
									<span>
										<span th:if="${isCentral and menuProfile.M0500 ne null and menuProfile.M0500.display}">
											<tr>
												<td colspan="2" th:text="${menuProfile.M0500.screenprompt}">Production</td>
											</tr>
											<tr th:if="${menuProfile.M0501 ne null and menuProfile.M0501.display}">
												<td><a th:href="@{/production/bom}" th:text="${menuProfile.M0501.screenprompt}">BOM Entry/Receipe Setting</a></td>
												<td>
													<a th:href="@{/production/bom}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0502 ne null and menuProfile.M0502.display}">
												<td><a th:href="@{/production/suggestion}" th:text="${menuProfile.M0502.screenprompt}">Production Planning against sales order (Requisition)</a></td>
												<td>
													<a th:href="@{/production/suggestion}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0503 ne null and menuProfile.M0503.display}">
												<td><a th:href="@{/production/batch}" th:text="${menuProfile.M0503.screenprompt}">Production Process / Batch</a></td>
												<td>
													<a th:href="@{/production/batch}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
										</span>
									</span>

									<!-- INVENTORY -->
									<span>
										<span th:if="${isCentral and menuProfile.M0600 ne null and menuProfile.M0600.display}">
											<tr>
												<td colspan="2" th:text="${menuProfile.M0600.screenprompt}">Inventory</td>
											</tr>
											<tr th:if="${menuProfile.M0601 ne null and menuProfile.M0601.display}">
												<td><a th:href="@{/inventory/openingentry}" th:text="${menuProfile.M0601.screenprompt}">Stock Opening Entry</a></td>
												<td>
													<a th:href="@{/inventory/openingentry}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0602 ne null and menuProfile.M0602.display}">
												<td><a th:href="@{/inventory/productissue}" th:text="${menuProfile.M0602.screenprompt}">Product Issue Entry</a></td>
												<td>
													<a th:href="@{/inventory/productissue}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0603 ne null and menuProfile.M0603.display}">
												<td><a th:href="@{/inventory/imtrn}" th:text="${menuProfile.M0603.screenprompt}">Inventory</a></td>
												<td>
													<a th:href="@{/inventory/imtrn}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0604 ne null and menuProfile.M0604.display}">
												<td><a th:href="@{/inventory/stocktake}" th:text="${menuProfile.M0604.screenprompt}">Stock-Take Entry</a></td>
												<td>
													<a th:href="@{/inventory/stocktake}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0605 ne null and menuProfile.M0605.display}">
												<td><a th:href="@{/inventory/transferorder}" th:text="${menuProfile.M0605.screenprompt}">Transfer Order</a></td>
												<td>
													<a th:href="@{/inventory/transferorder}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0606 ne null and menuProfile.M0606.display}">
												<td><a th:href="@{/inventory/pchtotrord}" th:text="${menuProfile.M0606.screenprompt}">Production Chalan to Transfer Order</a></td>
												<td>
													<a th:href="@{/inventory/pchtotrord}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
											<tr th:if="${menuProfile.M0607 ne null and menuProfile.M0607.display}">
												<td><a th:href="@{/inventory/stocklist}" th:text="${menuProfile.M0607.screenprompt}">Stock List</a></td>
												<td>
													<a th:href="@{/inventory/stocklist}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
												</td>
											</tr>
										</span>
									</span>


									<!-- ACCOUNTING -->
									<span th:if="${isCentral}">
										<tr>
											<td colspan="2">General Accounts</td>
										</tr>
										<tr>
											<td colspan="2" style="padding-left: 20px !important;">Accounts Receivable</td>
										</tr>
										<tr th:if="${menuProfile.M0408 ne null and menuProfile.M0408.display}">
											<td><a th:href="@{/salesninvoice/moneyreceipt}" th:text="${menuProfile.M0408.screenprompt}">Money Receipt</a></td>
											<td>
												<a th:href="@{/salesninvoice/moneyreceipt}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr th:if="${menuProfile.M0410 ne null and menuProfile.M0410.display}">
											<td><a th:href="@{/salesninvoice/customeradjustment}" th:text="${menuProfile.M0410.screenprompt}">Customer Adjustment</a></td>
											<td>
												<a th:href="@{/salesninvoice/customeradjustment}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr>
											<td><a th:href="@{/salesninvoice/customeropening}">Customer Opening</a></td>
											<td>
												<a th:href="@{/salesninvoice/customeropening}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
									</span>

									<span th:if="${isCentral}">
										<tr>
											<td colspan="2" style="padding-left: 20px !important;">Accounts Payable</td>
										</tr>
										<tr th:if="${isCentral and menuProfile.M0307 ne null and menuProfile.M0307.display}">
											<td><a th:href="@{/purchasing/supplierpayment}" th:text="${menuProfile.M0307.screenprompt}">Supplier Payment</a></td>
											<td>
												<a th:href="@{/purchasing/supplierpayment}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr th:if="${isCentral and menuProfile.M0308 ne null and menuProfile.M0308.display}">
											<td><a th:href="@{/procurement/supplieradjustment}" th:text="${menuProfile.M0308.screenprompt}">Supplier Adjustment</a></td>
											<td>
												<a th:href="@{/procurement/supplieradjustment}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr th:if="${isCentral and menuProfile.M0309 ne null and menuProfile.M0309.display}">
											<td><a th:href="@{/purchasing/supopenentry}" th:text="${menuProfile.M0309.screenprompt}">Supplier Opening Entry</a></td>
											<td>
												<a th:href="@{/purchasing/supopenentry}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
									</span>


									<!-- SYSTEM -->
									<span th:if="${menuProfile.M0100 ne null and menuProfile.M0100.display}">
										<tr>
											<td colspan="2" th:text="${menuProfile.M0100.screenprompt}">System Administration</td>
										</tr>
										<tr th:if="${menuProfile.M0101 ne null and menuProfile.M0101.display}">
											<td><a th:href="@{/system/usersentry}" th:text="${menuProfile.M0101.screenprompt}">Users Entry</a></td>
											<td>
												<a th:href="@{/system/usersentry}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<tr sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">
											<td><a th:href="@{/system/aslprocerror}">PROC Errors</a></td>
											<td>
												<a th:href="@{/system/aslprocerror}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
										<!-- <tr th:if="${menuProfile.M0105 ne null and menuProfile.M0105.display}">
											<td><a th:href="@{/system/list}" th:text="${menuProfile.M0105.screenprompt}">List</a></td>
											<td>
												<a th:href="@{/system/list}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr> -->
									</span>


									<!-- REPORT -->
									<span th:if="${isCentral and menuProfile.M0700 ne null and menuProfile.M0700.display}">
										<tr>
											<td colspan="2" th:text="${menuProfile.M0700.screenprompt}">Report</td>
										</tr>
										<tr>
											<td><a th:href="@{/report}" th:text="${menuProfile.M0700.screenprompt}">All Report</a></td>
											<td>
												<a th:href="@{/report}" class="btn btn-sm btn-default pull-right"> <i class="fas fa-chevron-right"></i></a>
											</td>
										</tr>
									</span>

								</table>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
