<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{ie.page.title}">Invoice Entry</title>
	<meta th:remove="tag" th:include="commons :: common-meta" />
	<meta th:remove="tag" th:include="commons :: common-css" />
	<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice/salesandinvoice}">Invoice Entry</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">

							<div class="col-md-12">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Invoice List</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap" id="opdoheadertable" th:fragment="opdoheadertable">
											<thead>
												<tr>
													<th th:text="#{ie.table.heading.xdornum}">DO Number</th>
													<th th:text="#{ie.table.heading.xdate}">Date</th>
													<th th:text="#{ie.table.heading.xcus}">Customer</th>
													<th th:text="#{ie.table.heading.xtotamt}">Total Amount</th>
													<th th:text="#{ie.table.heading.xstatus}">Status</th>
													<th>SO Number</th>
													<th th:text="#{ie.table.heading.action}" data-nosort="Y">Action</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="opdo : ${allOpdoHeader}">
													<td>
														<a th:href="@{/salesninvoice/salesandinvoice/invoicedetails/} + ${opdo.xdornum}" th:text="${opdo.xdornum}"></a>
													</td>
													<td th:text="${#dates.format(opdo.xdate, df)}"></td>
													<td th:text="${#strings.isEmpty(opdo.xcus) ? '' : opdo.xcus + ' - ' + opdo.xorg}"></td>
													<td th:text="${opdo.xtotamt}"></td>
													<td th:text="${opdo.xstatusord}"></td>
													<td th:text="${opdo.xordernum}"></td>
													<td data-nosort="Y">
														<!-- <a th:if="${not #strings.isEmpty(opdo.xdornum) and opdo.xstatusord eq 'Open'}" th:href="@{/salesninvoice/salesandinvoice/confirminvoice/} + ${opdo.xdornum}" class="btn btn-sm btn-warning confirm-btn-link btn-table-normal" title="Confirm"><i class="fas fa-clipboard-check"></i><span style="margin-left:2px;"></span></a> -->
														<a th:if="${not #strings.isEmpty(opdo.xdornum)}" th:href="@{/salesninvoice/salesandinvoice/print/delivery/} + ${opdo.xdornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-truck"></i></a>
														<a th:if="${not #strings.isEmpty(opdo.xdornum)}" th:href="@{/salesninvoice/salesandinvoice/print/invoice/} + ${opdo.xdornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-file-invoice-dollar"></i></a>
														<button th:if="${opdo.xstatusord == 'Open'}" type="button" class="btn btn-success btn-confirm editmode" th:attr="data-url=@{/salesninvoice/salesandinvoice/confirminvoice} + '/' + ${opdo.xdornum}"><i class="fas fa-check-square"></i></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="opdodetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>

<script>
		$(document).ready(function(){
			$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						var aitPercent = parseFloat(data.xait);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;
						
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						$('input[name="xaitamt"]').val(aitAmount);
						$('input.xaitamt-show').val(aitAmount);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			
			
		});
	</script>
</html>