<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sales Invoice</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice/salesandinvoice}">Sales Invoice</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Sales Invoice</h1>
						</div>

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/salesninvoice/salesandinvoice}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a th:if="${#strings.isEmpty(opdoheader.xdornum)}" th:href="@{/salesninvoice/salesandinvoice}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord != 'Confirmed' and opdoheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.xstatusord != 'Confirmed' and opdoheader.zactive == true}" href="#" class="btn btn-sm btn-warning update-btn"><i class="fas fa-edit"></i> Confirm</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.zactive == true}" th:href="@{/salesninvoice/salesandinvoice/print/delivery/} + ${opdoheader.xdornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-truck"></i> Print Invoice</a>
										<a th:if="${not #strings.isEmpty(opdoheader.xdornum) and opdoheader.zactive == true}" th:href="@{/salesninvoice/salesandinvoice/print/invoice/} + ${opdoheader.xdornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-file-invoice-dollar"></i> Print Chalan</a>
									</div>
									<div class="section-body section-border">
										<div id="opdoheaderform" th:fragment="opdoheaderform">
											<form id="mainform" class="form-horizontal" th:action="@{/salesninvoice/salesandinvoice/save}" th:object="${opdoheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
												<input type="hidden" class="form-control" th:field="*{xtype}"/>
												<input type="hidden" class="form-control" th:field="*{xtypetrn}"/>
												<input th:if="${not #strings.isEmpty(opdoheader.xdornum)}" type="hidden" class="form-control" th:field="*{xtrn}"/>
												<input type="hidden" class="form-control" th:field="*{xtrnopdo}"/>
												<input type="hidden" th:if="${not #strings.isEmpty(opdoheader.xdornum)}" class="form-control" th:field="*{xdornum}">
												<input type="hidden" class="form-control" th:field="*{xstatusar}">
												<input type="hidden" class="form-control" th:field="*{Xstatusjv}">
												<div class="row">
													<div class="col-md-6">

														<div class="form-group" th:if="${#strings.isEmpty(opdoheader.xdornum)}">
															<label class="control-label col-md-4" for="xtrn">Prefix</label>
															<div class="col-md-4">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="prefix : ${opdoprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not #strings.isEmpty(opdoheader.xdornum)}">
															<label class="control-label col-md-4" for="xdornum">DO Number</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:value="*{xdornum}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xcus">Customer</label>
															<div class="col-sm-8">
																<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${opdoheader.xcus}" 
																		th:attr="search-url='search/customer'"/>
																<input type="hidden" class="required" id="search-val" th:field="*{xcus}" value=""/>
																<input type="hidden" id="search-des" th:value="*{xcus}"/>
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate">Invoice Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdate"
																		name="xdate"
																		th:value="${opdoheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xperson">Sales Person : </label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xperson}">
															</div>
														</div> -->

														<div class="form-group">
															<label class="control-label col-md-4" for="xpaymenttype">Payment Type</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xpaymenttype}">
																	<option value="Cash">Cash</option>
																	<option value="Other">Other</option>
																	<!-- <option th:each="x : ${paymentTypeList}" th:value="${x.xcode}" th:text="${x.xcode}"></option> -->
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xordernum">Sales Order</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xordernum}">
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xstatusjv">JV Status : </label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xstatusjv}" disabled="disabled">
																<select class="form-control" th:field="*{xstatusjv}">
																	<option th:each="jv : ${jvstatusList}" th:value="${jv.xcode}" th:text="${jv.xcode}"></option>
																</select>
															</div>
														</div> -->

														<div class="form-group">
															<label class="control-label col-md-4" for="xref">Ref</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xref}">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xwh">Store</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xwh}">
																	<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xstatusord">DO Status</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xstatusord}">
																<input type="text" class="form-control" th:value="*{xstatusord}" disabled="disabled">
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xpaystatus">Pay Status</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xpaystatus}">
																	<option th:each="s : ${payStatusList}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
																</select>
															</div>
														</div> -->

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xstatusar">Account Receipt: </label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xstatusar}">
																	<option th:each="s : ${arStatusList}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
																</select>
															</div>
														</div> -->

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xstaff">Employee: </label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xstaff}">
															</div>
														</div> -->

														<!-- <div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdatecom">Completion Date</label>
															<div class="input-group date col-md-6 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdatecom"
																		name="xdatecom"
																		th:value="${opdoheader.xdatecom == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdatecom, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdatedue">Date Due</label>
															<div class="input-group date col-md-6 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdatedue"
																		name="xdatedue"
																		th:value="${opdoheader.xdatedue == null ? #dates.format(#dates.createNow(), df) : #dates.format(opdoheader.xdatedue, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div> -->

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xvoucher">Voucher No.</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xvoucher}"/>
																<input type="text" class="form-control" th:value="*{xvoucher}" disabled="disabled">
															</div>
														</div> -->

													</div>
													<div class="col-md-6">
														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xcur">Currency</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xcur}">
																	<option th:each="c : ${currencyList}" th:text="${c.xcode}" th:value="${c.xcode}"></option>
																</select>
															</div>
														</div> -->

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xexch">Exchange Rate: </label>
															<div class="col-md-8">
																<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xexch}">
															</div>
														</div> -->

														<div class="form-group">
															<label class="control-label col-md-4" for="xtotamt">Sub Total</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xtotamt}">
																<input type="text" class="form-control xtotamt" th:value="*{xtotamt}" disabled="disabled">
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xvatait">Vat Tax ID</label>
															<div class="col-md-8">
																<select class="form-control vatait-select" th:field="*{xvatait}">
																	<option th:each="s : ${vataitList}" th:text="${s.xvatait}" th:value="${s.xvatait}"></option>
																</select>
															</div>
														</div> -->

														<div class="form-group">
															<label class="control-label col-md-4" for="xvatamt">Vat Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xvatamt}"/>
																<input type="text" class="form-control" th:value="*{xvatamt}" disabled="disabled">
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xait">Tax Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xait}"/>
																<input type="text" class="form-control" th:value="*{xait}" disabled="disabled"/>
															</div>
														</div> -->

														<div class="form-group">
															<label class="control-label col-md-4" for="xdiscamt">Discount</label>
															<div class="col-md-6">
																<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xdiscamt}" min="0">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xgrandtot">Total Amount</label>
															<div class="col-md-6">
																<input type="text" class="form-control xgrandtot" th:field="*{xgrandtot}" disabled="disabled">
															</div>
														</div>

														<!-- <div class="form-group">
															<label class="control-label col-md-4" for="xpaid">Paid Amount</label>
															<div class="col-md-8">
																<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xpaid}">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xchange">Change Amount</label>
															<div class="col-md-8">
																<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xchange}">
															</div>
														</div> -->

														<div class="form-group">
															<label class="control-label col-md-4" for="xnote">Note</label>
															<div class="col-md-8">
																<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
															</div>
														</div>

													</div>
												</div>
											</form>
										</div>
									</div>
								</section>
							</div>

							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Invoice List</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>DO Number</th>
													<th>Date</th>
													<th>Customer</th>
													<th>Total Amount</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="opdo : ${allOpdoHeader}">
													<td>
														<a th:href="@{/salesninvoice/salesandinvoice/} + ${opdo.xdornum}" th:text="${opdo.xdornum}"></a>
													</td>
													<td  th:text="${#dates.format(opdo.xdate, df)}"></td>
													<td th:text="${opdo.xcus}"></td>
													<td th:text="${opdo.xtotamt}"></td>
													<td th:text="${opdo.xstatusord}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(opdoheader.xdornum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/salesninvoice/salesandinvoice/opdodetail/} + ${opdoheader.xdornum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Invoice Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered normal-table nowrap" id="opdodetailtable" th:fragment="opdodetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Unit</th>
											<th>Qty</th>
											<th>Rate</th>
											<th>Line Amount</th>
											<th>Note</th>
											<th th:if="${opdoheader.xstatusord != 'Confirmed'}" data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/salesninvoice/salesandinvoice/} + ${opdoheader.xdornum} + '/opdodetail/new/show', data-target-modal='opdodetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d : ${opdoDetailsList}">
											<td th:text="${dStat.index +1}"></td>
											<td>
												<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} +' - '+ ${d.xdesc}"></a>
											</td>
											<td th:text="${d.xunitsel}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:text="${d.xlineamt}"></td>
											<td th:text="${d.xlong}"></td>
											<td th:if="${opdoheader.xstatusord != 'Confirmed'}" data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/salesninvoice/salesandinvoice/} + ${opdoheader.xdornum} + '/opdodetail/' + ${d.xrow} + '/show', data-target-modal='opdodetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/salesninvoice/salesandinvoice/} + ${opdoheader.xdornum} + '/opdodetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="opdodetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>

<script>
		$(document).ready(function(){
			
			$('a.confirmopdo-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var dornum = $("#xdornum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/salesandinvoice/confirmopdo/" + dornum,
					success: function(result){
						var status = result.status.toLowerCase();
						
						if(status == "success")
							showMessage("success", "Invoice Confirmed");
						else if(status == "error")
							showMessage("error", result.message);
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			});
			
			/* $('a.returngrn-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var grnNum = $("#xgrnnum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/salesandinvoice/returngrn/" + grnNum,
					success: function(result){
						var status = result.status.toLowerCase()
						
						if(status == "success")
							showMessage("success", "GRN return order created. Finalize from GRN return.");
						else if(status == "error")
							showMessage("error", "Somthing went wrong.....");
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			}); */
			
			$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						var aitPercent = parseFloat(data.xait);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;
						
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						$('input[name="xaitamt"]').val(aitAmount);
						$('input.xaitamt-show').val(aitAmount);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			
			
		});
	</script>
</html>